<article>
  <h1>Poisoner's Kit</h1>

  <ul>
    <li>
      <em>History.</em> Your training with poisons allows you to add your
      proficiency in poisoner's kit when you try to recall facts about infamous
      poisonings.
    </li>
    <li>
      <em>Investigation, Perception.</em> Your knowledge of poisons has taught
      you to handle those substances carefully. You can add your proficiency in
      poisoner's tools when you inspect poisoned objects or try to extract clues
      from events that involve poison.
    </li>
    <li>
      <em>Medicine.</em> When you treat the victim of a poison, you can add your
      proficiency in poisoner's kit to provide the best care to your patient.
    </li>
    <li>
      <em>Nature, Survival.</em> Working with poisons allows you to add your
      proficiency in poisoner's kit when you to try to acquire lore about which
      plants and animals are poisonous.
    </li>
    <li>
      <em>Handle Poison.</em> Your proficiency allows you to handle and apply a
      poison without risk of exposing yourself to its effects.
    </li>
  </ul>

  <h2>Poisoner's Kit Expert Feat</h2>

  <p>
    You increase your INT score by 1 and instantly gain proficiency with
    poisoner's kit.
  </p>

  <h2>Novice</h2>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="novice"
      >novice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion making</h3>

  <p>
    You can create novice level potions. See
    <a routerLink="../../references/potions" fragment="novice">potions</a> for
    details.
  </p>

  <h3>Begrime</h3>

  <p>
    You can spend 1 hour carefully separating and purifying the ingredient. Make
    DC 12 nature + your proficiency in poisoner's kit. On successful check you
    separate ingredient into two, one part holding
    <app-alc [c]="0" [a]="1" [p]="1" [g]="0" [u]="0"></app-alc> components and
    the other holding the rest (<app-alc
      [c]="1"
      [a]="0"
      [p]="0"
      [g]="1"
      [u]="1"
    ></app-alc
    >). Ingredient is destroyed on failure.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="apprentice"
      >apprentice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion making</h3>

  <p>
    You can create apprentice level potions. See
    <a routerLink="../../references/potions" fragment="apprentice">potions</a>
    for details.
  </p>

  <h3>Method change</h3>

  <p>
    2 hours, DC 15 Nature (INT) + your proficiency in poisoner's kit,
    <app-alc [c]="0" [a]="0" [p]="0" [g]="2" [u]="0"></app-alc>: Change any
    poison into ingested poison.
  </p>
  <p>
    2 hours, DC 15 Nature (INT) + your proficiency in poisoner's kit,
    <app-alc [c]="0" [a]="0" [p]="0" [g]="0" [u]="2"></app-alc>: Change any
    poison into contact poison.
  </p>

  <h3>Items</h3>

  <h4>Vermin Drums</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Animal Handling (WIS) + your proficiency in poisoner’s kit
    </li>
    <li><em>Time:</em> 12 h</li>
    <li><em>Ingredients:</em> 2 human skulls, skin from 1 human.</li>
  </ul>

  <p>
    This pair of drums is made from two bisected human skulls whose open tops are
    covered in flayed human skin. Once per long rest you can spend 10 minutes drumming
    to summon a swarm of rats. Rats serve you and obey your commands for 1 hour before
    they scatter away.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragments="journeyman"
      >journeyman level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion making</h3>

  <p>
    You can create journeyman level potions. See
    <a routerLink="../../references/potions" fragment="journeyman">potions</a>
    for details.
  </p>

  <h3>Method change</h3>

  <p>
    2 hours, DC 15 Nature (INT) + your proficiency in poisoner's kit,
    <app-alc [c]="2" [a]="0" [p]="0" [g]="0" [u]="0"></app-alc>: Change any
    poison into inhaled poison.
  </p>
  <p>
    2 hours, DC 15 Nature (INT) + your proficiency in poisoner's kit,
    <app-alc [c]="0" [a]="0" [p]="2" [g]="0" [u]="0"></app-alc>: Change any
    poison into injury poison.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master"
      >master level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion making</h3>

  <p>
    You can create master level potions. See
    <a routerLink="../../references/potions" fragments="master">potions</a> for
    details.
  </p>

  <h3>Begrime</h3>

  <p>Begrime time is halved.</p>

  <h2>Scavenging</h2>

  <ul>
    <li>
      You can spend one hour searching in the area. No more than two party
      members can search same area for poisoner ingredients in 24 hours.
    </li>
    <li>
      You can scavenge while travelling. If you do that you get to make a throw
      every 4 hours of travel. You are travelling at half the speed while
      scavenging. Again only two party members can scavenge for poisoner
      ingredients at the same time.
    </li>
    <li>
      If you exceed DC for the area for more than 5 you can roll on the table
      twice.
    </li>
  </ul>
  <h3>Nadir</h3>

  <h4 id="nadir_nine_rivers">Nadir Nine Rivers</h4>

  <p><em>DC:</em> 10 survival + Your proficiency in herbalism kit</p>

  <table>
    <tr>
      <th>D12</th>
      <th>Find</th>
      <th>Components</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="blade_grass"
          >Blade Grass</a
        >
      </td>
      <td><app-alc [c]="0" [a]="4" [p]="0" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="orange_tropical_slug"
          >Orange Tropical Slug</a
        >
      </td>
      <td><app-alc [c]="1" [a]="3" [p]="1" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="fleshshiver"
          >Fleshshiver</a
        >
      </td>
      <td><app-alc [c]="2" [a]="2" [p]="0" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="kieros">Kieros</a>
      </td>
      <td><app-alc [c]="0" [a]="1" [p]="2" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="limb_plant"
          >Limb Plant</a
        >
      </td>
      <td><app-alc [c]="2" [a]="0" [p]="1" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="masthin">Masthin</a>
      </td>
      <td><app-alc [c]="0" [a]="1" [p]="0" [g]="2" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="musk_muddle"
          >Musk Muddle</a
        >
      </td>
      <td><app-alc [c]="3" [a]="2" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="pitcher_plant"
          >Pitcher Plant</a
        >
      </td>
      <td><app-alc [c]="0" [a]="3" [p]="0" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td>
        <a
          routerLink="../../ingredients/resources"
          fragment="giant_centipede_eggs"
          >Giant Centipede Eggs</a
        >
      </td>
      <td><app-alc [c]="0" [a]="3" [p]="1" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="blue_tongued_lizard"
          >Blue Tongued Lizard</a
        >
      </td>
      <td><app-alc [c]="1" [a]="1" [p]="1" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="red_eyed_fern_frog"
          >Red-Eyed Fern Frog</a
        >
      </td>
      <td><app-alc [c]="0" [a]="3" [p]="2" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="giant_nadir_fern"
          >Giant Nadir Fern</a
        >
      </td>
      <td><app-alc [c]="2" [a]="3" [p]="1" [g]="4" [u]="0"></app-alc></td>
      <td></td>
    </tr>
  </table>

  <h4 id="nadir_aquatic">Nadir Aquatic</h4>

  <p>
    <em>DC:</em> 15 survival + Your proficiency in herbalism kit with swim
    speed, 20 otherwise
  </p>

  <table>
    <tr>
      <th>D12</th>
      <th>Find</th>
      <th>Components</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="bladderwort"
          >Bladderwort</a
        >
      </td>
      <td><app-alc [c]="2" [a]="1" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="blade_grass"
          >Blade Grass</a
        >
      </td>
      <td><app-alc [c]="0" [a]="4" [p]="0" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="long_nosed_gar"
          >Long Nosed Gar</a
        >
      </td>
      <td><app-alc [c]="1" [a]="2" [p]="5" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="eelgrass"
          >Eelgrass</a
        >
      </td>
      <td><app-alc [c]="0" [a]="2" [p]="0" [g]="1" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="river_electric_eel"
          >River Electric Eel</a
        >
      </td>
      <td><app-alc [c]="1" [a]="2" [p]="0" [g]="1" [u]="2"></app-alc></td>
      <td>DC 13 CON save or 1d12 thunder damage.</td>
    </tr>
    <tr>
      <td>6</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="krakens_eye"
          >Kraken's Eye</a
        >
      </td>
      <td><app-alc [c]="3" [a]="2" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="merfolk_gils"
          >Merfolk Gills</a
        >
      </td>
      <td><app-alc [c]="3" [a]="1" [p]="2" [g]="1" [u]="0"></app-alc></td>
      <td>Consumed fresh grants 1 hour of water breathing.</td>
    </tr>
    <tr>
      <td>8</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="nahre_lotus"
          >Nahre Lotus</a
        >
      </td>
      <td><app-alc [c]="0" [a]="2" [p]="1" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="poisonous_algae"
          >Poisonous Algae</a
        >
      </td>
      <td><app-alc [c]="2" [a]="4" [p]="4" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td>
        <a
          routerLink="../../ingredients/plants"
          fragment="wild_river_space_polyp"
          >Wild River Space Polyp</a
        >
      </td>
      <td><app-alc [c]="0" [a]="2" [p]="6" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="wild_river_walleye"
          >Wild River Walleye</a
        >
      </td>
      <td><app-alc [c]="2" [a]="1" [p]="0" [g]="0" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="wild_river_lilly"
          >Wild River Lilly</a
        >
      </td>
      <td>
        <ul>
          <li>
            <em>Seed:</em>
            <app-alc [c]="3" [a]="1" [p]="3" [g]="2" [u]="0"></app-alc>
          </li>
          <li>
            <em>Flower:</em>
            <app-alc [c]="3" [a]="2" [p]="3" [g]="1" [u]="3"></app-alc>
          </li>
          <li>
            <em>Roots:</em>
            <app-alc [c]="3" [a]="1" [p]="0" [g]="2" [u]="3"></app-alc>
          </li>
          <li>
            <em>Leaves:</em>
            <app-alc [c]="3" [a]="1" [p]="1" [g]="5" [u]="1"></app-alc>
          </li>
        </ul>
      </td>
      <td>Roll 1d4 to see what parts you find.</td>
    </tr>
  </table>
</article>
