<article>
  <h1>Smith's Tools</h1>

  <ul>
    <li>
      <em>Arcana, History.</em> Your expertise allows you to add your
      proficiency in smith's tool to gain additional insight when examining
      metal objects, such as weapons.
    </li>
    <li>
      <em>Investigation.</em> You can spot clues and make deductions that others
      might overlook when an investigation involves armour, weapons, or other
      metalwork. You can add your proficiency in smith's tools to any
      investigation checks involving those items.
    </li>
    <li>
      <em>Repair.</em> With access to your tools and an open flame hot enough to
      make metal pliable, you can restore 10 hit points to a damaged metal
      object for each hour of work.
    </li>
  </ul>

  <h2>Smith’s Tools Expert Feat</h2>
  <p>
    You increase your STR score by 1 and instantly gain proficiency with smith’s
    tools.
  </p>

  <h2>Novice</h2>

  <h3>Ammunition</h3>

  <h4>Arrow / Bolt points</h4>

  <ul>
    <li><em>DC:</em> 12 Athletics (STR) + your proficiency in smith's tools</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 iron ingot</li>
  </ul>

  <p>Creates 10 arrow points</p>

  <h3>Equipment</h3>

  <h4>Ball bearings</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Sleight of hands (DEX) + your proficiency in smith's tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 iron ingot</li>
  </ul>

  <p>Creates 100 ball bearings from sufficient amount of metal</p>

  <h3>Barding</h3>

  <p>
    All barding requires 2 ingots for tiny creature, 6 for small, 12 for medium,
    18 for large, 36 for huge and 72 for gargantuan.
  </p>

  <table>
    <tr>
      <th>Type</th>
      <th>Check</th>
      <th>Crafting time</th>
    </tr>
    <tr>
      <td>Chain Shirt</td>
      <td>DC DC 14 Athletics (STR) + your proficiency in smith's tools</td>
      <td>6 h</td>
    </tr>
    <tr>
      <td>Scale Mail</td>
      <td>DC 15 Athletics (STR) + your proficiency in smith's tools</td>
      <td>7 h</td>
    </tr>
    <tr>
      <td>Breastplate</td>
      <td>DC 16 Athletics (STR) + your proficiency in smith's tools</td>
      <td>8 h</td>
    </tr>
    <tr>
      <td>Half Plate</td>
      <td>DC 17 Athletics (STR) + your proficiency in smith's tools</td>
      <td>9 h</td>
    </tr>
  </table>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Barding</h3>

  <p>
    All barding requires 2 ingots for tiny creature, 6 for small, 12 for medium,
    18 for large, 36 for huge and 72 for gargantuan.
  </p>

  <table>
    <tr>
      <th>Type</th>
      <th>Check</th>
      <th>Crafting time</th>
    </tr>
    <tr>
      <td>Ring Mail</td>
      <td>DC DC 14 Athletics (STR) + your proficiency in smith's tools</td>
      <td>6 h</td>
    </tr>
    <tr>
      <td>Chain Mail</td>
      <td>DC 15 Athletics (STR) + your proficiency in smith's tools</td>
      <td>7 h</td>
    </tr>
    <tr>
      <td>Splint</td>
      <td>DC 16 Athletics (STR) + your proficiency in smith's tools</td>
      <td>8 h</td>
    </tr>
    <tr>
      <td>Plate</td>
      <td>DC 17 Athletics (STR) + your proficiency in smith's tools</td>
      <td>9 h</td>
    </tr>
  </table>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Modifications</h3>

  <h3>+1 Weapon Enchantment</h3>

  <ul>
    <li><em>DC:</em> 20 Athletics (STR) + your proficiency in smith's tools</li>
    <li>
      <em>Time:</em> 1 hour for small (arrow, bolt, dagger), 4 hours for
      medium(sword, battleaxe), 8 hours for large (Greatsword, warhammer).
    </li>
    <li>
      <em>Ingredients:</em> Weapon with metallic parts, without this
      modification.
    </li>
  </ul>

  <p>
    You can create intricate carvings into any metallic weapon to make it +1.
    This bonus is added to other bonuses weapon might already have, but it can't
    exceed +3 total.
  </p>

  <h3>+1 Armor Enchantment</h3>

  <ul>
    <li><em>DC:</em> 20 Athletics (STR) + your proficiency in smith's tools</li>
    <li><em>Time:</em>4 hours for shields, 16 hours for an armor</li>
    <li><em>Ingredients:</em> Metallic shield or an armor</li>
  </ul>

  <p>
    You can create intricate carvings into any metallic armor or shield to make
    it +1. This bonus is added to other bonuses object might already have, but
    it can't exceed +3 total.
  </p>
</article>
