<div id="item">
  <h4>{{ data.name }}</h4>
  <p>
    <i>{{ data.type }}, {{ data.rarity }}
      <span *ngIf="data.hasOwnProperty('attunement') && data.attunement">
        (requires attunement <span *ngIf="data.hasOwnProperty('special_attunement')">by a data.special_attunement</span>)</span></i>
  </p>
  <hr />
  <div *ngIf="data.hasOwnProperty('text')" [innerHtml]=data.text></div>
</div>
