<article>
  <h1>Healer's Kit</h1>

  <ul>
    <li>
      <em>History.</em> Proficiency with healer's kit allows you to add your
      proficiency to any History (INT) checks concerning events that involve
      illness as a significant element.
    </li>
    <li>
      <em>Medicine.</em> You can add your proficiency in healer's kit whenever
      you are trying to determine type, origin and and cure for the illness. You
      can also add your proficiency in healer's kit when trying to stabilize a
      creature with a medicine check.
    </li>
    <li>
      <em>Religion.</em> You can add your proficiency with healer's kit whenever
      you are trying to determine facts about temples and cults that deal with
      healing.
    </li>
  </ul>

  <h2>Healer's Kit Expert Feat</h2>
  <p>
    You increase your WIS score by 1 and instantly gain proficiency with
    healer's kit.
  </p>

  <h2>Novice</h2>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="novice">novice level tinctures</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create novice level potions. See
    <a routerLink="../../references/potions" fragment="novice">potions</a> for details.
  </p>

  <h3>Purification</h3>

  <p>
    You can spend 1 hour carefully separating and cleaning the ingredient. Make
    DC 12 medicine + your proficiency in healer's kit. On successful check you
    separate ingredient into two, one part holding
    <app-alc [c]="0" [a]="0" [p]="0" [g]="1" [u]="1"></app-alc> components and
    the other holding the rest (<app-alc
      [c]="1"
      [a]="1"
      [p]="1"
      [g]="0"
      [u]="0"
    ></app-alc
    >). Ingredient is destroyed on failure.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="apprentice"
      >apprentice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create apprentice level potions. See
    <a routerLink="../../references/potions" fragment="apprentice">potions</a> for details.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="journeyman"
      >journeyman level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create journeyman level potions. See
    <a routerLink="../../references/potions" fragment="journeyman">potions</a> for details.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master">master level tinctures</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create master level potions. See
    <a routerLink="../../fragments/potions" fragment="master">potions</a> for details.
  </p>

  <h3>Purification</h3>

  <p>Purification times are halved.</p>

  <h2>Scavenging</h2>

  <ul>
    <li>
      You can spend one hour searching in the area. No more than two party
      members can search same area for healing ingredients in 24 hours.
    </li>
    <li>
      You can scavenge while travelling. If you do that you get to make a throw
      every 4 hours of travel. You are travelling at half the speed while
      scavenging. Again only two party members can scavenge for healing
      ingredients at the same time.
    </li>
    <li>
      If you exceed DC for the area for more than 5 you can roll on the table
      twice.
    </li>
  </ul>
  <h3>Nadir</h3>

  <h4 id="nadir_nine_rivers">Nadir Nine Rivers</h4>

  <p><em>DC:</em> 10 survival + Your proficiency in herbalism kit</p>

  <table>
    <tr>
      <th>D12</th>
      <th>Find</th>
      <th>Components</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td><a routerLink="../../ingredients/plants" fragment="blade_grass">Blade Grass</a></td>
      <td><app-alc [c]="0" [a]="4" [p]="0" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="orange_tropical_slug"
          >Orange Tropical Slug</a
        >
      </td>
      <td><app-alc [c]="1" [a]="3" [p]="1" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td><a routerLink="../../ingredients/plants" fragment="fleshshiver">Fleshshiver</a></td>
      <td><app-alc [c]="2" [a]="2" [p]="0" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td><a routerLink="../../ingredients/plants" fragment="kieros">Kieros</a></td>
      <td><app-alc [c]="0" [a]="1" [p]="2" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td><a routerLink="../../ingredients/plants" fragment="limb_plant">Limb Plant</a></td>
      <td><app-alc [c]="2" [a]="0" [p]="1" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td><a routerLink="../../ingredients/plants" fragment="masthin">Masthin</a></td>
      <td><app-alc [c]="0" [a]="1" [p]="0" [g]="2" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td><a routerLink="../../ingredients/plants" fragment="musk_muddle">Musk Muddle</a></td>
      <td><app-alc [c]="0" [a]="2" [p]="1" [g]="3" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>
        <a routerLink="../../ingredients/resources" fragment="giant_centipede_eggs"
          >Giant Centipede Eggs</a
        >
      </td>
      <td><app-alc [c]="0" [a]="3" [p]="1" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td><a routerLink="../../ingredients/plants" fragment="rafflesia">Rafflesia</a></td>
      <td>Rafflesia</td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="blue_tongued_lizard"
          >Blue Tongued Lizard</a
        >
      </td>
      <td><app-alc [c]="1" [a]="1" [p]="1" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="baited_breath">Baited Breath</a>
      </td>
      <td><app-alc [c]="0" [a]="0" [p]="2" [g]="3" [u]="4"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="giant_nadir_fern">Giant Nadir Fern</a>
      </td>
      <td><app-alc [c]="2" [a]="3" [p]="1" [g]="4" [u]="0"></app-alc></td>
      <td></td>
    </tr>
  </table>

  <h4 id="nadir_aquatic">Nadir Aquatic</h4>

  <p>
    <em>DC:</em> 15 survival + Your proficiency in herbalism kit with swim
    speed, 20 otherwise
  </p>

  <table>
    <tr>
      <th>D12</th>
      <th>Find</th>
      <th>Components</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td><a routerLink="../../ingredients/plants" fragment="bladderwort">Bladderwort</a></td>
      <td><app-alc [c]="2" [a]="1" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td><a routerLink="../../ingredients/plants" fragment="blade_grass">Blade Grass</a></td>
      <td><app-alc [c]="0" [a]="4" [p]="0" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="long_nosed_gar">Long Nosed Gar</a>
      </td>
      <td><app-alc [c]="1" [a]="2" [p]="5" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td><a routerLink="../../ingredients/plants" fragment="eelgrass">Eelgrass</a></td>
      <td><app-alc [c]="1" [a]="2" [p]="0" [g]="1" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td><a routerLink="../../ingredients/plants" fragment="green_algae">Green Algae</a></td>
      <td><app-alc [c]="2" [a]="0" [p]="2" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="red_river_horse">Red River Horse</a>
      </td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="1" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td><a routerLink="../../ingredients/plants" fragment="merfolk_gils">Merfolk Gills</a></td>
      <td><app-alc [c]="3" [a]="1" [p]="2" [g]="1" [u]="0"></app-alc></td>
      <td>Consumed fresh grants 1 hour of water breathing.</td>
    </tr>
    <tr>
      <td>8</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="river_electric_eel"
          >River Electric Eel</a
        >
      </td>
      <td><app-alc [c]="1" [a]="2" [p]="4" [g]="0" [u]="0"></app-alc></td>
      <td>DC 13 CON save or 1d12 thunder damage.</td>
    </tr>
    <tr>
      <td>9</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="wild_river_walleye"
          >Wild River Walleye</a
        >
      </td>
      <td><app-alc [c]="2" [a]="1" [p]="0" [g]="0" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="wild_river_space_polyp"
          >Wild River Space Polyp</a
        >
      </td>
      <td><app-alc [c]="0" [a]="2" [p]="6" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>
        <a routerLink="../../ingredients/animals" fragment="yellow_pumpkinseed"
          >Yellow Pumpkinseed</a
        >
      </td>
      <td><app-alc [c]="0" [a]="0" [p]="4" [g]="1" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="wild_river_lilly">Wild River Lilly</a>
      </td>
      <td>
        <ul>
          <li>
            <em>Seed:</em>
            <app-alc [c]="3" [a]="1" [p]="3" [g]="2" [u]="0"></app-alc>
          </li>
          <li>
            <em>Flower:</em>
            <app-alc [c]="3" [a]="2" [p]="3" [g]="1" [u]="3"></app-alc>
          </li>
          <li>
            <em>Roots:</em>
            <app-alc [c]="3" [a]="1" [p]="0" [g]="2" [u]="3"></app-alc>
          </li>
          <li>
            <em>Leaves:</em>
            <app-alc [c]="3" [a]="1" [p]="1" [g]="5" [u]="1"></app-alc>
          </li>
        </ul>
      </td>
      <td>Roll 1d4 to see what parts you find.</td>
    </tr>
  </table>
</article>
