<article>
  <h1>Mason's Tools</h1>

  <ul>
    <li>
      <em>History.</em> Your expertise allows you to add your proficiency in
      mason's tools when identifying a stone building's date of construction and
      purpose, a long with insight into who might have built it.
    </li>
    <li>
      <em>Investigation.</em> You can add your proficiency in mason's tools when
      inspecting areas within stone structures.
    </li>
    <li>
      <em>Perception.</em> You can spot irregularities in s tone walls or
      floors, allowing you to add your proficiency in mason's tools when find
      trap doors and secret passages.
    </li>
    <li>
      <em>Demolition.</em> Your knowledge of masonry allows you to spot weak
      points in brick walls. You deal double damage to such structures with your
      weapon attacks.
    </li>
  </ul>

  <h2>Mason’s Tools Expert Feat</h2>
  <p>
    You increase your STR score by 1 and instantly gain proficiency with mason’s
    tools.
  </p>

  <h2>Novice</h2>

  <h3>Stonesenses</h3>

  <h4>Ear</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Perception (WIS) + your proficiency in mason’s tools
    </li>
    <li><em>Time:</em> 20 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For one hour after finishing the carving you can use your action to switch
    your own hearing for that of an ear carved in the stone, as long as the
    piece of stone is on the same plane of the existence. You can switch back
    and forth as many times as you want, for the duration of enchantment. You
    can only have one stonesense ear active at the time.
  </p>

  <h4>Eye</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Perception (WIS) + your proficiency in mason’s tools
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For one hour after finishing the carving you can use your action to switch
    your own sight for that of an eye carved in the stone, as long as the piece
    of stone is on the same plane of the existence. You can use your own dark
    vision or true sight, if you have any. You can switch back and forth as many
    times as you want, for the duration of enchantment. You can only have one
    stonesense eye active at the time.
  </p>

  <h4>Nose</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Perception (WIS) + your proficiency in mason’s tools
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For one hour after finishing the carving you can use your action to switch
    your own smile for that of an nose carved in the stone, as long as the piece
    of stone is on the same plane of the existence. You can switch back and
    forth as many times as you want, for the duration of enchantment. You can
    only have one stonesense nose active at the time.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Stone magic</h3>

  <h4>Gargoyle Lamp</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Persuasion (CHA) + your proficiency in mason’s tools
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 1 metal ingot</li>
  </ul>

  <p>
    When lit and used to illuminate a statue that statue becomes temporarily
    lively enough to answer simple questions posed to it about what it may have
    seen over the years (provided the statue has a mouth). Statues enlivened in
    this way can lie if they wish – they are not compelled to answer truthfully.
    Each use of the Lamp rapidly burns a pint of lamp oil.
  </p>

  <h3>Stonesenses</h3>

  <p>
    The duration of enchantment is extended to 24 hours for all stonsense
    carvings. You can create stonsense carvings for other people.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Stonesenses</h3>

  <p>Crafting time for all stonesense carvings is lowered to 10 minutes.</p>

  <h4>Mouth</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Perception (WIS) + your proficiency in mason’s tools
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For 24 hours after finishing the carving you can use your action to switch
    your own taste for that of an mouth carved in the stone, as long as the
    piece of stone is on the same plane of the existence. You can switch back
    and forth as many times as you want, for the duration of enchantment. You
    can use stonesense mouth to talk with your normal voice and in the languages
    you can speak. You can only have one stonesense mouth active at the time.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Stonesenses</h3>

  <p>
    You can have 2 stonsense carvings of same type active at the same time. You
    can also switch your senses as a bonus action.
  </p>
</article>
