<article>
  <h1>Jeweler's Tools</h1>

  <ul>
    <li>
      <em>Arcana.</em> Proficiency with jeweler's tools allows you to add your
      bonus when trying to determine mystical uses of gems. This insight proves
      handy when you make Arcana checks related to gems or gem-encrusted items.
    </li>
    <li>
      <em>Investigation.</em> When you inspect jewelled objects, your
      proficiency with jeweller 's tools allows you to add your bonus when
      picking out clues they might hold.
    </li>
    <li>
      <em>Identify Gems.</em> You can identify gems and determine their value at
      a glance.
    </li>
  </ul>

  <h2>Jeweler’s Tools Expert Feat</h2>
  <p>
    You increase your INT score by 1 and instantly gain proficiency with
    jeweler’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Divine Amulets</h3>

  <h4>Bronze Daisy Amulet</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Religion (INT) + your proficiency in jeweler's tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 1 silver piece worth of bronze</li>
  </ul>

  <p>
    Small bronze amulet with a gem worth at least 50 gp. It is made of bronze
    and is daisy shaped. Twice per day, as an action, you can touch a creature.
    You take 2 points of necrotic damage, your hit points maximum is lowered by
    two until the next long rest. Target immediately regains 1 hit point.
  </p>

  <h3>Bracelets</h3>

  <h4>Bronze locket of Servants</h4>

  <ul>
    <li><em>DC:</em> 14 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 2 silver pieces worth of bronze</li>
  </ul>

  <p>
    Allows your to cast unseen servant once per day without using spell slot or
    material components. When spell ends, roll d20. On critical fail, locket
    loses its magical properties and needs to be re-enchanted.
  </p>

  <h3>Lockets</h3>

  <h4>Bronze locket of messages</h4>

  <ul>
    <li><em>DC:</em> 12 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 silver piece worth of bronze</li>
  </ul>

  <p>
    Using this locket you can record a message up to 25 words long. Opening the
    locket then replays the message. Recording new message overwrites previous
    message.
  </p>

  <h3>Earrings</h3>

  <h4>Bronze earrings of whispers</h4>

  <ul>
    <li><em>DC:</em> 14 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 1 copper piece</li>
  </ul>

  <p>
    Allows wearer to telepathically communicate with anyone wearing connected
    earring in 125 feet range. Earring can receive messages from further away
    (from advanced earring) but can not reply past its range.
  </p>

  <h4>Bronze earrings of hearing</h4>

  <ul>
    <li><em>DC:</em> 14 Nature (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 copper piece</li>
  </ul>

  <p>
    Once per day grants 1d4 to a perception check that relies on hearing. You
    can only use one pair of earrings of hearing per day.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Divine Amulets</h3>

  <h4>Silver Daisy Amulet</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Religion (INT) + your proficiency in jeweler's tools
    </li>
    <li><em>Time:</em> 6 h</li>
    <li><em>Ingredients:</em> 1 gold piece worth of silver</li>
  </ul>

  <p>
    Small silver amulet with a gem worth at least 100 gp. It is made of silver
    and is daisy shaped. Twice per day, as an action, you can touch a creature.
    You take 2d4 points of necrotic damage, your hit points maximum is lowered
    by the amount taken, until the next long rest. Target immediately regains
    half of the hit points you lost that way.
  </p>

  <h3>Bracelets</h3>

  <h4>Silver locket of Servants</h4>

  <ul>
    <li><em>DC:</em> 16 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 2 gold pieces worth of silver</li>
  </ul>

  <p>
    Allows your to cast unseen servant once per day without using spell slot or
    material components.
  </p>

  <h3>Lockets</h3>

  <h4>Silver locket of messages</h4>

  <ul>
    <li><em>DC:</em> 14 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 1 gold piece worth of silver</li>
  </ul>

  <p>
    Using this locket you can record a message up to 25 words long. Opening the
    locket then replays the message. Recording new message overwrites previous
    message. In addition to that locket also contains a way to record secret
    message. It can be replayed by any creature that knows the secret or the
    locket or that succeeds a DC 20 Investigation (INT) check.
  </p>

  <h3>Earrings</h3>

  <h4>Silver earrings of whispers</h4>

  <ul>
    <li><em>DC:</em> 16 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 1 silver piece</li>
  </ul>

  <p>
    Allows wearer to telepathically communicate with anyone wearing connected
    earring in 250 feet range. Earring can receive messages from further away
    (from advanced earring) but can not reply past its range.
  </p>

  <h4>Bronze earrings of hearing</h4>

  <ul>
    <li><em>DC:</em> 14 Nature (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 1 silver piece</li>
  </ul>

  <p>
    Once per day grants 1d6 to a perception check that relies on hearing. You
    can only use one pair of earrings of hearing per day.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Divine Amulets</h3>

  <h4>Gold Daisy Amulet</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Religion (INT) + your proficiency in jeweler's tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 1 platinum piece worth of gold</li>
  </ul>

  <p>
    Small silver amulet with a gem worth at least 200 gp. It is made of silver
    and is daisy shaped. Twice per day, as an action, you can touch a creature.
    You take 2d6 points of necrotic damage, your hit points maximum is lowered
    by the amount taken, until the next long rest. Target immediately regains
    half of the hit points you lost that way.
  </p>

  <h3>Bracelets</h3>

  <h4>Gold locket of Servants</h4>

  <ul>
    <li><em>DC:</em> 18 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 6 h</li>
    <li><em>Ingredients:</em> 2 platinum pieces worth of platinum</li>
  </ul>

  <p>
    Allows your to cast unseen servant twice per day without using spell slot or
    material components. If you expand both usages, roll d20. On critical fail,
    locket loses its magical properties and needs to be re-enchanted.
  </p>

  <h3>Lockets</h3>

  <h4>Gold locket of messages</h4>

  <ul>
    <li><em>DC:</em> 16 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 1 platinum piece worth of gold</li>
  </ul>

  <p>
    Using this locket you can record a message up to 25 words long. Opening the
    locket then replays the message including a hologram of person talking.
    Recording new message overwrites previous message. In addition to that
    locket also contains a way to record secret message. It can be replayed by
    any creature that knows the secret or the locket or that succeeds a DC 20
    Investigation (INT) check.
  </p>

  <h3>Earrings</h3>

  <h4>Gold earrings of whispers</h4>

  <ul>
    <li><em>DC:</em> 18 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 1 gold piece</li>
  </ul>

  <p>
    Allows wearer to telepathically communicate with anyone wearing connected
    earring in 500 feet range. Earring can receive messages from further away
    (from advanced earring) but can not reply past its range.
  </p>

  <h4>Bronze earrings of hearing</h4>

  <ul>
    <li><em>DC:</em> 18 Nature (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 1 gold piece</li>
  </ul>

  <p>
    Once per day grants 1d8 to a perception check that relies on hearing. You
    can only use one pair of earrings of hearing per day.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Divine Amulets</h3>

  <h4>Platinum Daisy Amulet</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Religion (INT) + your proficiency in jeweler's tools
    </li>
    <li><em>Time:</em> 10 h</li>
    <li><em>Ingredients:</em> 10 platinum pieces worth of platinum</li>
  </ul>

  <p>
    Small platinum amulet with a gem worth at least 400 gp. It is made of
    platinum and is daisy shaped. Twice per day, as an action, you can touch a
    creature. You take 2d8 points of necrotic damage, your hit points maximum is
    lowered by the amount taken, until the next long rest. Target immediately
    regains half of the hit points you lost that way.
  </p>

  <h3>Bracelets</h3>

  <h4>Platinum locket of Servants</h4>

  <ul>
    <li><em>DC:</em> 20 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 20 platinum pieces worth of platinum</li>
  </ul>

  <p>
    Allows your to cast unseen servant twice per day without using spell slot or
    material components.
  </p>

  <h3>Lockets</h3>

  <h4>Platinum locket of messages</h4>

  <ul>
    <li><em>DC:</em> 18 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 12 h</li>
    <li><em>Ingredients:</em> 10 platinum pieces worth of platinum</li>
  </ul>

  <p>
    Using this locket you can record a message up to 50 words long. Opening the
    locket then replays the message including a hologram of person talking.
    Recording new message overwrites previous message. In addition to that
    locket also contains a way to record secret message. It can be replayed by
    any creature that knows the secret or the locket or that succeeds a DC 20
    Investigation (INT) check.
  </p>

  <h3>Earrings</h3>

  <h4>Platinum earrings of whispers</h4>

  <ul>
    <li><em>DC:</em> 20 Arcana (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 1 platinum piece</li>
  </ul>

  <p>
    Allows wearer to telepathically communicate with anyone wearing connected
    earring on the same plane of existence.
  </p>

  <h4>Platinum earrings of hearing</h4>

  <ul>
    <li><em>DC:</em> 20 Nature (INT) + your proficiency in jeweler's tools</li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 1 platinum piece</li>
  </ul>

  <p>
    Once per day grants 1d10 to a perception check that relies on hearing. You
    can only use one pair of earrings of hearing per day.
  </p>
</article>
