<article>
  <h1>Leather Worker's Tools</h1>

  <ul>
    <li>
      <em>Arcana.</em> Your expertise in working with leather allows you to add
      your proficiency when you inspect magic items crafted from leather, such
      as boots and some cloaks.
    </li>
    <li>
      <em>Investigation.</em> You can add your proficiency in leather worker's
      tools to insight when studying leather items or clues related to them, as
      you draw on your knowledge of leather to pick out details that others
      would overlook.
    </li>
    <li>
      <em>Identify Hides.</em> When looking at a hide or a leather item, you can
      determine the source of the leather and any special techniques used to
      treat it. For example, you can spot the difference between leather crafted
      using dwarven methods and leather crafted using halfling methods.
    </li>
  </ul>

  <h2>Leather Worker’s Tools Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with leather
    worker’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Stitching</h3>

  <p>You can create a small sheet of leather out of 3 tiny sheets.</p>
  <p>You can create a medium sheet of leather out of 3 small sheets.</p>

  <h3>Equipment</h3>

  <h4>Backpack</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Sleight of hands (DEX) + your proficiency in leather
      worker's tools
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> Medium leather sheet</li>
  </ul>

  <h3>Barding</h3>

  <p>
    All barding requires leather sheet one size larger than the creature it is
    created for.
  </p>

  <table>
    <tr>
      <th>Type</th>
      <th>Check</th>
      <th>Crafting time</th>
    </tr>
    <tr>
      <td>Padded</td>
      <td>
        DC 14 Sleight of hands (DEX) + your proficiency in leather worker's
        tools
      </td>
      <td>6 h</td>
    </tr>
    <tr>
      <td>Padded</td>
      <td>
        DC 15 Sleight of hands (DEX) + your proficiency in leather worker's
        tools
      </td>
      <td>7 h</td>
    </tr>
    <tr>
      <td>Padded</td>
      <td>
        DC 16 Sleight of hands (DEX) + your proficiency in leather worker's
        tools
      </td>
      <td>8 h</td>
    </tr>
  </table>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Stitching</h3>

  <p>You can create a large sheet of leather out of 3 medium sheets.</p>
  <p>You can create a huge sheet of leather out of 3 large sheets.</p>

  <h3>Barding</h3>

  <h4>Hide barding</h4>

  <ul>
    <li>
      <em>DC:</em> 17 Sleight of hands (DEX) + your proficiency in leather
      worker's tools
    </li>
    <li><em>Time:</em> 9 h</li>
    <li>
      <em>Ingredients:</em> Leather sheet one size larger than the creature
      wearing barding.
    </li>
  </ul>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Clothing</h3>

  <h4>Gloves of Thief’s Sight</h4>

  <ul>
    <li>
      <em>DC:</em> 19 Stealth (DEX) + your proficiency in leather worker's tools
    </li>
    <li><em>Time:</em> 12 h</li>
    <li><em>Ingredients:</em> Small leather sheet</li>
  </ul>

  <p>
    When worn and pressed against a solid surface, these gloves allow you to see
    through the surface. The vision can penetrate 1 foot of stone, 1 inch of
    common metal, or up to 3 feet of wood or dirt. Thicker substances block the
    vision, as does a thin sheet of lead. The gloves do not provide darkvision.
    This effect lasts for up to 30 seconds or until you stop touching the
    surface. If you use this effect more than once per long rest you must make
    DC 14 CON save or gain 1 point of exhaustion on every additional use.
  </p>

  <h3>Stitching</h3>

  <p>You can create a gargantuan sheet of leather out of 3 huge sheets.</p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h2>Scavenging</h2>

  <p>
    After killing a creature with a skin or scales you can spend some time
    skinning it. In the process make survival check and add your proficiency in
    leather worker's tools. If you succeed you get the raw leather sheet the
    size of the creature. If you fail by less than 5 you get a raw sheet one
    size smaller. Raw leather sheet than needs to be treated for specified time
    before it becomes useful for your craft. To treat it you have to spend time
    working on it but there is no check associated with activity.
  </p>

  <table>
    <tr>
      <th>Creature size</th>
      <th>Skinning DC</th>
      <th>Skinning time</th>
      <th>Treating time</th>
    </tr>
    <tr>
      <td>Tiny</td>
      <td>16</td>
      <td>2 h</td>
      <td>30 min</td>
    </tr>
    <tr>
      <td>Small</td>
      <td>14</td>
      <td>1.5 h</td>
      <td>1 h</td>
    </tr>
    <tr>
      <td>Medium</td>
      <td>12</td>
      <td>1 h</td>
      <td>2 h</td>
    </tr>
    <tr>
      <td>Large</td>
      <td>14</td>
      <td>1.5 h</td>
      <td>4 h</td>
    </tr>
    <tr>
      <td>Huge</td>
      <td>16</td>
      <td>2 h</td>
      <td>8 h</td>
    </tr>
    <tr>
      <td>Gargantuan</td>
      <td>18</td>
      <td>4 h</td>
      <td>16 h</td>
    </tr>
  </table>
</article>
