<article>
  <h1>Tinker's Tools</h1>

  <ul>
    <li>
      <em>History.</em> You can add your proficiency with tinker's tools
      whenever you are trying to determine age and origin of objects, even if
      you have only a few pieces remaining from the original.
    </li>
    <li>
      <em>Investigation.</em> When you are inspecting a damaged object, you can
      add your proficiency with tinker's tools when you are trying to determine
      how it was damaged and how long ago.
    </li>
    <li>
      <em>Repair.</em> You can restore 10 hit points to a damaged object for
      each hour of work. For any object, you need access to the raw materials
      required to repair it. For metal objects, you need access to an open flame
      hot enough to make the metal pliable.
    </li>
  </ul>

  <h2>Tinker's tools Expert Feat</h2>
  <p>
    You increase your INT score by 1 and instantly gain proficiency with
    tinker's tools.
  </p>

  <h2>Novice</h2>

  <h3>Pigments</h3>

  <p>
    You can create <a routerLink="../../references/pigments">pigments</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="novice"
      >novice level explosives</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Wild change</h3>

  <p>
    You can spend 1 hour and make DC 12 arcana check + your proficiency in
    tinker's tools. On a failed save the ingredient is destroyed, on success
    roll on the wild change table. You cannot change an ingredient that was
    already affected by wild change
  </p>

  <table>
    <tr>
      <th>D6</th>
      <th>Effect</th>
    </tr>
    <tr>
      <td>1</td>
      <td>
        All components in ingredients are changed to
        <app-alc [c]="1" [a]="0" [p]="0" [g]="0" [u]="0"></app-alc>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        All components in ingredients are changed to
        <app-alc [c]="0" [a]="1" [p]="0" [g]="0" [u]="0"></app-alc>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        All components in ingredients are changed to
        <app-alc [c]="0" [a]="0" [p]="1" [g]="0" [u]="0"></app-alc>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        All components in ingredients are changed to
        <app-alc [c]="0" [a]="0" [p]="0" [g]="1" [u]="0"></app-alc>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>
        All components in ingredients are changed to
        <app-alc [c]="0" [a]="0" [p]="0" [g]="0" [u]="1"></app-alc>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>You add one of each component ingredient already contains.</td>
    </tr>
  </table>

  <h3>Ammunition</h3>

  <h4>Inspiring ammunition</h4>

  <ul>
    <li><em>DC:</em> 13 Arcana (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> unmodified piece of ammunition</li>
  </ul>

  <p>
    You add a whistle to the arrow / bolt. When you hit opponent with more than
    5 over its AC arrow whistles and grants every friendly creature in range of
    10 ft around arrow 1d4 inspiration die. Arrow / bolt is destroyed after use.
  </p>

  <h4>Gnomish Slivermine</h4>

  <ul>
    <li><em>DC:</em> 13 Arcana (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 gp worth of silver</li>
  </ul>

  <p>
    Armed slivermines are triggered if touched or even if a very loud noise
    disturbs their delicate mechanism. They release a whirl of wicked little
    blades that embed themselves in those nearby. Each creature within 5 feet of
    a discharged slivermine must succeed on a DC 12 Dexterity saving throw or
    take 3d6 piercing damage, half that on a successful save. Slivermines can
    also be rigged with a timer to be thrown like grenades using an action, at a
    target within 60 feet. Once the mine is used, it cannot be reset.
  </p>

  <h3>Equipment</h3>

  <h4>Abacus</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Sleight of hand (DEX) + your proficiency in tinker's tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 40 ball bearings, small amounts of wood.</li>
  </ul>

  <h3>Wearables</h3>

  <h4>Boots of height</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Deception (CHA) + your proficiency in tinker's tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> shoes, small amounts of wood.</li>
  </ul>

  <p>
    Creates boots that make wearer seem up to one feet bit taller than they
    really are.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="apprentice"
      >apprentice level explosives</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Wild change</h3>

  <p>
    You can reroll on the wild change table on success but have to keep second
    roll
  </p>

  <h3>Ammunition</h3>

  <h4>Explosive ammunition</h4>

  <ul>
    <li><em>DC:</em> 17 Arcana (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> unmodified piece of ammunition</li>
  </ul>

  <p>
    ammunition deals additional 1d4 fire damage on hit and sets flammable
    objects within 5 fit of the target on fire.
  </p>

  <h4>Injection ammunition</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Sleight of Hands (DEX) + your proficiency in tinker's
      tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li>
      <em>Ingredients:</em> unmodified piece of ammunition, vial with poison or
      potion
    </li>
  </ul>

  <p>
    A vial of substance (like injury poison) attached to the arrow or bolt.
    Substance gets injected in target upon hit. Arrow still deals normal damage.
  </p>

  <h4>Splash ammunition</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Sleight of Hands (DEX) + your proficiency in tinker's
      tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li>
      <em>Ingredients:</em> unmodified piece of ammunition, vial with poison or
      potion
    </li>
  </ul>

  <p>
    A vial of substance (like inhalation poison, acid or alchemical fire)
    attached to the arrow or bolt. Vial breaks upon hitting target releasing its
    content. Arrow still deals normal damage.
  </p>

  <h3>Wearables</h3>

  <h4>Headlamp</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Sleight of hand (DEX) + your proficiency in tinker's tools
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> A lamp, small amounts of textile.</li>
  </ul>

  <p>
    Headlamp that functions exactly as hooded lantern except that it requires no
    hand to hold.
  </p>

  <h4>Parachute backpack</h4>

  <ul>
    <li><em>DC:</em> 15 Nature (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 6 h</li>
    <li>
      <em>Ingredients:</em> A backpack, sheet of textile one size larger than
      the creature using the parachute.
    </li>
  </ul>

  <p>
    Creates a parachute that opens automatically after 160 ft of free fall. It
    acts as a feather fall spell for wearer after that as long as it remains
    undamaged. It takes 20 minutes to fold it back into backpack after use.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../recipes/explosives" fragment="journeyman"
      >journeyman level explosives</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Wild change</h3>

  <p>
    If you succeed you roll on a wild change table twice and decide which roll
    to take.
  </p>

  <h3>Ammunition</h3>

  <h4>Ammunition of teleportation</h4>

  <ul>
    <li><em>DC:</em> 15 Arcana (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> unmodified piece of ammunition</li>
  </ul>

  <p>
    You add a small rune to the arrow / bolt. If you deal damage to a living creature using this ammunition,
    you can use your movement to immediately teleport to to the target. Arrow / bolt is destroyed after use.
  </p>

  <h4>Tracking ammunition</h4>

  <ul>
    <li><em>DC:</em> 13 Arcana (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> unmodified piece of ammunition</li>
  </ul>

  <p>
    After shooting with this ammunition you know exact distance and direction to
    this piece of ammunition for an hour.
  </p>

  <h3>Wearables</h3>

  <h4>Cap of weather</h4>

  <ul>
    <li><em>DC:</em> 18 Nature (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> A hat, 1 iron ingot and a drop of mercury.</li>
  </ul>

  <p>
    Creates extremely complicated looking top hat full of different mechanisms.
    DC 12 Nature(INT) check can be made to find out parameters of current
    weather (temperature, humidity, wind speed and direction). If skill check is
    over 17 wearer can also ascertain weather forecast for next day as long as
    weather is not magically controlled.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="master"
      >master level explosives</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Wild change</h3>

  <p>On success you can chose which option to take on a wild change table.</p>

  <h3>Ammunition</h3>

  <h4>Ammunition of slaying</h4>

  <ul>
    <li><em>DC:</em> 20 Medicine (INT) + your proficiency in tinker's tools</li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> unmodified piece of ammunition</li>
  </ul>

  <p>
    Decide the type of creature when creating this ammunition. Ammunition deals
    additional 2d10 piercing damage on hit to specified type of creature.
  </p>

  <h3>Wearables</h3>

  <h4>Hydraulic suit</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Slight of hand (DEX) + your proficiency in tinker's tools
    </li>
    <li><em>Time:</em> 24 h</li>
    <li><em>Ingredients:</em> 8 iron ingots, 10 gp worth of copper</li>
  </ul>

  <p>
    Creates fully hydraulic suit. Wearer's speed is increased by 5 ft up to 45
    ft and their carrying capacity is doubled.
  </p>
</article>
