<article>
  <h1>Navigator's Tools</h1>

  <ul>
    <li>
      <em>Survival.</em> Knowledge of navigator's tools allows you to add your
      proficiency when you are trying to avoid becoming lost and also grants you
      that bonus when trying to determine the most likely location for roads and
      settlements.
    </li>
    <li>
      <em>Sighting.</em> By taking careful measurements, you can try and
      determine your position on a nautical chart and the time of day.
    </li>
  </ul>

  <h2>Navigator’s Tools Expert Feat</h2>
  <p>
    You increase your WIS score by 1 and instantly gain proficiency with
    navigator’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Magnetic Compass</h3>

  <h4>Bronze Magnetic Compass</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Survival (Wis) + your proficiency in navigator’s tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 3 sp worth of bronze</li>
  </ul>

  <p>Allows navigation in one of the 8 direction without getting lost.</p>

  <h3>Blood compass</h3>

  <h4>Bronze Blood Compass</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Survival (Wis) + your proficiency in navigator’s tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 5 sp worth of bronze</li>
  </ul>

  <p>
    This bronze compass can absorb a drop of blood to point towards current
    location of a creature the blood belongs to. If creature is dead or on a
    different plane of existence the needle spins aimlessly and stops at random
    direction.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Magnetic Compass</h3>

  <h4>Bronze Magnetic Compass</h4>

  <ul>
    <li>
      <em>DC:</em> 15 Survival (Wis) + your proficiency in navigator’s tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 3 gp worth of silver</li>
  </ul>

  <p>
    Allows navigation in one of the 8 direction without getting lost. It also
    features glow in the dark dial for navigation in the dark.
  </p>

  <h3>Blood compass</h3>

  <h4>Silver Blood Compass</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Survival (Wis) + your proficiency in navigator’s tools
    </li>
    <li><em>Time:</em> 16 h</li>
    <li><em>Ingredients:</em> 5 gp worth of silver</li>
  </ul>

  <p>
    This silver compass can absorb a drop of blood to point towards a person the
    creature belongs to. If creature is dead or on a different plane of
    existence the needle spins aimlessly and stops at random direction. The
    compass continues to point at the direction for one hour.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Blood compass</h3>

  <h4>Gold Blood Compass</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Survival (Wis) + your proficiency in navigator’s tools
    </li>
    <li><em>Time:</em> 32 h</li>
    <li><em>Ingredients:</em> 5 pp worth of gold</li>
  </ul>

  <p>
    This golden compass can absorb a drop of blood to point towards a creature
    the blood belongs to. If creature is dead or on a different plane of
    existence the needle spins aimlessly and stops at random direction. The
    compass continues to point at the direction until it receives a drop of
    blood from a different person or it gets dispelled. It regains direction if
    creature enters same plane of existence.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Blood compass</h3>

  <h4>Platinum Blood Compass</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Survival (Wis) + your proficiency in navigator’s tools
    </li>
    <li><em>Time:</em> 64 h</li>
    <li><em>Ingredients:</em> 50 pp worth of platinum</li>
  </ul>

  <p>
    This platinum compass can absorb a drop of blood to point towards a creature
    the blood belongs to. It has a special outer dial that can spell the plane
    if a creature is on a different plane of existence. If creature is dead the
    needle spins aimlessly and stops at random direction. The compass continues
    to point at the direction until it receives a drop of blood from a different
    person or it gets dispelled.
  </p>
</article>
