<h3>{{ data.title }}</h3>
<ul>
    <li *ngIf="data.biomes.length>0"><em>biomes</em> <span *ngFor="let biome of data.biomes"> {{ biome }} </span></li>
    <li *ngIf="data.comment.length>0"><em>comment</em> {{ data.comment }}</li>
    <li *ngIf="data.c+data.a+data.p+data.g+data.u>0"><em>components</em>&#160;<app-alc [c]=data.c [a]=data.a [p]=data.p [g]=data.g [u]=data.u></app-alc></li>
</ul>

<p>{{data.description}}</p>