<article>
  <h1>Forgery Kit</h1>

  <ul>
    <li>
      <em>Arcana.</em> A proficiency in forgery kit allows you to add your bonus
      when trying to determine if a magic item is real or fake.
    </li>
    <li>
      <em>Deception.</em> A well-crafted forgery, such as papers proclaiming you
      to be a noble or a writ that grants you safe passage, can lend credence to
      a lie. You can add your proficiency in forgery kit to deception checks
      when you are using forged documents.
    </li>
    <li>
      <em>History.</em> Proficiency in forgery kit allows you to add your bonus
      when you are trying to ascertain if an old document is authentic.
    </li>
    <li>
      <em>Investigation.</em> When you examine objects, proficiency with a
      forgery kit allows you to add your bonus when determining how an object
      was made and whether it is genuine.
    </li>
    <li>
      <em>Other Tools.</em> Knowledge of other tools makes your forgeries that
      much more believable. For example, you could combine proficiency with a
      forgery kit and proficiency with cartographer's tools to make a fake map.
    </li>
  </ul>

  <h2>Forgery Kit Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with Forgery
    Kit.
  </p>

  <h2>Novice</h2>

  <h3>Pigments</h3>

  <p>
    You can create <a routerLink="../recipes/pigments.html">pigments</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Documents</h3>

  <h4>Papers</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Sleight of hands (DEX) + your proficiency in Forgery Kit
    </li>
    <li><em>Time:</em> 30 min + 10 min for every page after first</li>
    <li><em>Ingredients:</em> Pigment matching original document</li>
  </ul>

  <p>
    You create an indistinguishable copy of original non-magical paper document
  </p>

  <h3>Other</h3>

  <h4>Charlatan’s Coin</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Sleight of hands (DEX) + your proficiency in Forgery Kit
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 2 gp</li>
  </ul>

  <p>
    A perfectly balanced coin that still always falls in favor of person tossing it.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Inks</h3>

  <h4>Mendacium</h4>

  <ul>
    <li><em>DC:</em> 16 Deception (CHA) + your proficiency in Forgery Kit</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> Any light pigment</li>
  </ul>

  <p>
    Creates and ink that looks like a
    <a routerLink="calligrapher.html" fragment="veritas">veritas</a> but changes colour based on
    your choice and not lie or truth
  </p>

  <h3>Documents</h3>

  <h4>Letter of fake emotions</h4>

  <ul>
    <li><em>DC:</em> 16 Deception (CHA) + your proficiency in Forgery kit</li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> Any purple or red ink.</li>
  </ul>

  <p>
    You write an emotional letter (either for yourself or on the behalf of
    someone else that needs to be included into the process and present at
    creation. Letter stores an emotion of your choice and presents it as a true
    <a routerLink="./calligrapher" fragment="emotional_letter">emotional letter.</a>
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Illusions</h3>

  <p>Illusory terrain</p>

  <ul>
    <li><em>DC:</em> 20 Nature (INT) + your proficiency in Forgery kit</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 5 different inks</li>
  </ul>

  <p>
    You make natural terrain in a 50-foot cube in range look, sound, and smell
    like some other sort of natural terrain. Thus, open fields or a road can be
    made to resemble a swamp, hill, crevasse, or some other difficult or
    impassable terrain. A pond can be made to seem like a grassy meadow, a
    precipice like a gentle slope, or a rock-strewn gully like a wide and smooth
    road. Manufactured structures, equipment, and creatures within the area
    aren't changed in appearance.
  </p>

  <p>
    The tactile characteristics of the terrain are unchanged, so creatures
    entering the area are likely to see through the illusion. If the difference
    isn't obvious by touch, a creature carefully examining the illusion can
    attempt an DC 18 Intelligence (Investigation) check to disbelieve it. A
    creature who discerns the illusion for what it is, sees it as a vague image
    superimposed on the terrain.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h4>Ink cage</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Survival (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> light blue pigment</li>
  </ul>

  <p>
    You use magic to drive a circular marks on any wall. when finished a portal
    that lasts 1 minute and looks like it is opened to a place of your choice is
    opened. Portal closes after first creature that enters it, trapping it into
    a pocket dimension for one year or until you open this portal again.
  </p>
</article>
