<article>
  <h1>Painter's Supplies</h1>

  <ul>
    <li>
      <em>Arcana, History, Religion.</em> Your expertise allows you to add your
      proficiency in painter's supplies when uncovering lore of any sort that is
      attached to a work of art, such as the magical properties of a painting or
      the origins of a strange mural found in a dungeon.
    </li>
    <li>
      <em>Investigation, Perception.</em> When you inspect a painting or a
      similar work of visual art, your knowledge of the practices behind
      creating it allows you to add your proficiency in painter's supplies to
      the check.
    </li>
  </ul>

  <h2>Painter’s Supplies Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with Forgery
    Kit.You increase your WIS score by 1 and instantly gain proficiency with
    painter’s supplies.
  </p>

  <h2>Novice</h2>

  <h3>Pigments</h3>

  <p>
    You can create and use
    <a routerLink="../../references/pigments">pigments</a>.
  </p>

  <h3>Dissolving</h3>

  <p>
    You can make DC 12 performance check + your proficiency in painter's
    supplies to separate ingredient into
    <app-alc [c]="1" [a]="0" [p]="0" [g]="1" [u]="0"></app-alc> and
    <app-alc [c]="0" [a]="1" [p]="1" [g]="0" [u]="1"></app-alc>. On a failed
    save the ingredient is destroyed.
  </p>

  <h3>Pictures</h3>

  <h4>Flames</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Survival (WIS) + your proficiency in painter’s supplies
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> 2 different pigments</li>
  </ul>

  <p>
    You paint flames on any suitable material and they come alive, giving you a
    going fire even in harshest conditions. You still need to keep it alive and
    maintain fuel for it.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Animation</h3>

  <h4>Animated image</h4>

  <ul>
    <li>
      <em>DC:</em> 10 + 1 for every second of animation Arcana (INT) check +
      your proficiency in painter’s supplies
    </li>
    <li><em>Time:</em> 1 hour for every second of animation</li>
    <li><em>Ingredients:</em> 4 different pigments</li>
  </ul>

  <p>You create image that displays animated event in a loop.</p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Animation</h3>

  <p>
    Your animated image can now also do sound that is only heard by everyone
    touching the animated image. You need to add another pigment (to a total of
    5) for the picture to speak.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Pictures</h3>

  <h4>Picture of Gorian Drey</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Arcana (INT) + your proficiency in painter’s supplies
    </li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> 10 different pigments</li>
  </ul>

  <p>
    You create portrait of a creature. That creature immediately stops ageing
    and all its scars disappear. For the time picture exist creature can't get
    any new scars or imperfections. Ageing resumes if the picture is ever
    destroyed.
  </p>
</article>
