<article>
  <h1>Lara Thisbe' Guide to Alchemist's Supplies</h1>

  <section class='box'>
    <p>
      <em>Arcana.</em> Proficiency with alchemist's supplies allows you to add
      your proficiency bonus to arcana checks involving potions and similar
      materials.
    </p>
    <p>
      <em>Investigation.</em> When you inspect an area for clues, you can add
      your proficiency bonus in alchemist's supplies to identify any chemicals
      or other substances that might have been used in the area.
    </p>
  </section>


  <section class='box'>
    <h4>Alchemist's Supplies Expert Feat</h4>
    <p>
      You increase your INT score by 1 and instantly gain proficiency with
      alchemist's supplies.
    </p>
  </section>

  <hr style="clear: both;" />
  <p>
    During years 2623-2624 Ewonian counting I managed to secure moderate sum of
    money with the goal of creating non ether based golems for the Vahd's annual
    inventor's fair. Turning to alchemy I used that money to travel to Sultai
    where I studied under esteemed professor Sho Makoto in his wilderness
    sanctuary. In just three months I was able to create first homunculi and
    present it at the inventor's fair. Sadly it went mostly overlooked that
    year, but I had moderate success in the year 2626 when I presented a
    category bigger homunculi with more upgrades. Even then my fellow artificers
    and inventors failed to see the usefulness of machines independent of the
    resource that can only ever be easily collected at our home plane.
  </p>

  <p>
    With that I am turning to you, members of the Archive, presenting collection
    of my alchemical inventions in hope of securing further funding for my
    projects. With inventor's fair of 2630 coming up next year I feel that this
    research has the potential of taking the crown, bringing glory to me,
    alchemy and of course the Archive.
  </p>
  <hr style="clear: both;" />

  <h2>Novice</h2>

  <section>
    <h3>Potion And Explosive Making</h3>

    <p>
      Alchemist tools have everything you need to create novice level
      <a routerLink="../../references/potions" fragment="novice">potions</a> and
      <a routerLink="../../references/explosives" fragment="novice">explosives</a>, provided you have materials. For
      materials gathering tips see
      <a routerLink="../alchemist" fragment="scavenging">scavenging</a> section at the end of
      this document.
    </p>
  </section>

  <section>
    <h3>Potion and Explosives Transmutation</h3>

    <p>
      Studying alchemy you get to understand components in magical materials. You
      can use novice level potions and explosives as ingredient for your new
      potions and explosives. Their component value is equal to their required
      components
    </p>
  </section>

  <section>
    <h3>Component Separation</h3>

    <p>
      It is often desirable to separate
      <app-alc [c]="1" [a]="0" [p]="0" [g]="0" [u]="0"></app-alc> and
      <app-alc [c]="0" [a]="0" [p]="1" [g]="0" [u]="0"></app-alc> from other, less
      desirable components. You can spend 1 hour and make DC 12 Arcana check +
      your proficiency with alchemist's supplies check in order to separate
      <app-alc [c]="1" [a]="0" [p]="1" [g]="0" [u]="0"></app-alc> from other
      components (<app-alc [c]="0" [a]="1" [p]="0" [g]="1" [u]="1"></app-alc>) in
      a ingredient. On a failed check whole ingredient is destroyed.
    </p>

  </section>

  <hr style="clear: both;" />
  <p>
    While my focus always was on creating homunculi I also learned a thing or
    two about balancing ingredients perfectly. Panacea and Philosopher stone
    recipes in this proposal are result of that research, mostly done by my
    mentor Sho Makoto but then distilled to actual usefulness by me.
  </p>
  <hr style="clear: both;" />


  <section>
    <h4>Minor Philosopher's stone</h4>
    <p><em>DC:</em> 18 Arcana(INT) check + your proficiency in alchemist's tools</p>
    <p><em>Time:</em> 10 h</p>
    <p><em>Ingredients:</em> 4 death, 4 life, 4 chaos, 4 order (must be precise)</p>
    <p>Alchemist takes 2d4 true damage in the process of creating this minor
      philosopher's stone, donating some of the life energy to it.</p>

    <app-item [data]="minor_philosopher"></app-item>
  </section>

  <section>
    <h4>Minor Panacea</h4>
    <p><em>DC:</em> 12 Medicine(WIS) check + your proficiency in alchemist's
      tools</p>
    <p><em>Time:</em> 6 h</p>
    <p><em>Ingredients:</em> 4 life, 4 chaos, 4 order (must be precise)</p>

    <app-item [data]="minor_panacea"></app-item>
  </section>


  <hr style="clear: both;" />
  <p>
    <i>The following recipe presents early version of tiny homunculus as
      presented at the Vahd's inventor fair of 2624. I managed to move past it
      in the years since, see further down for details about more advanced
      versions.</i>
  </p>
  <hr style="clear: both;" />


  <h4>Tiny Homunculi</h4>
  <section>
    <p><em>DC:</em> 12 Arcana(INT) check + your proficiency in alchemist's tools</p>
    <p><em>Time:</em> 6 h</p>
    <p><em>Ingredients:</em> 50 gp worth of metals</p>
    <p>
      You can create and control one tiny homunculi. Previous one needs to be
      disabled before you can create another.
    </p>
    <p>
      In the process of creating tiny homunculi you take 1d4 damage and your max
      hit points is lowered by the same amount. This life can not be regained
      until the homunculus is deactivated or destroyed. Tiny homunculus obeys its creator to
      the best of its ability and can communicate telepathically with its creator
      if they are within 30 ft (10 m) of each other.
    </p>

    <section class='box'>
      <h5>Upgrades</h5>
      <p><em>Dancing lights upgrade:</em> Homunculus can cast dancing lights twice
        per day.</p>
      <p><em>Light upgrade:</em> Homunculus can cast light on itself 4 times per
        day.</p>
      <p><em>Repair upgrade:</em> Homunculus can cast mending 2 times per day.</p>
      <p><em>Telephone upgrade:</em> Homunculus can cast message if you are
        touching it.</p>
      <p><em>Servant upgrade:</em> Homunculus can cast prestidigitation 2 times per
        day.</p>
      <p><em>Climbing upgrade:</em> Homunculus gets climbing speed equal to his
        regular speed.</p>
    </section>

  </section>
  <section>
    <p>
      Each upgrade takes 1 hour and 10 gold worth of metals to construct and 10
      minutes to switch one for another if there is no free slot on homunculus.
    </p>
    <app-monster [data]=tiny_humunculus></app-monster>
  </section>

  <h2>Apprentice</h2>
  <p><em>You become apprentice at level 5</em></p>

  <section>
    <h3>Potion And Explosive Making</h3>

    <p>
      Alchemist tools have everything you need to create apprentice level
      <a routerLink="../../references/potions" fragment="apprentince">potions</a> and
      <a routerLink="../../references/explosives" fragment="apprentince"><em>explosives</em></a>, provided you have
      materials. For materials gathering tips see
      <a routerLink="." fragment="scavenging">scavenging</a> section at the end of
      this document.
    </p>
  </section>

  <section>
    <h3>Potion and Explosives Transmutation</h3>

    <p>
      Studying alchemy you get to understand components in magical materials. You
      can use apprentice level potions and explosives as ingredient for your new
      potions and explosives. Their component value is equal to their required
      components
    </p>
  </section>

  <section>
    <h4>Philosopher's stone</h4>
    <p>
      <em>DC:</em> 22 Arcana(INT) check + your proficiency in alchemist's tools
    </p>
    <p><em>Time:</em> 16 h</p>
    <p>
      <em>Ingredients:</em> 5 death, 5 life, 5 chaos, 5 order (must be precise)
    </p>
    <p>Alchemist takes 4d4 true damage in the process of creating this
      philosopher's stone, donating some of the life energy to it.</p>

    <app-item [data]="philosopher"></app-item>
  </section>

  <section>
    <h4>Panacea</h4>
    <p><em>DC:</em> 15 Medicine(WIS) check + your proficiency in alchemist's
      tools</p>
    <p><em>Time:</em> 7.5 h</p>
    <p><em>Ingredients:</em> 5 life, 5 chaos, 5 order (must be precise)</p>

    <app-item [data]="panacea"></app-item>
  </section>


  <h4>Small Homunculi</h4>
  <section>
    <p>
      <em>DC:</em> 14 Arcana(INT) check + your proficiency in alchemist's tools
    </p>
    <p><em>Time:</em> 8 h</p>
    <p><em>Ingredients:</em> 100 gp worth of metals</p>

    <section class='box'>
      <h5>Upgrades</h5>
      <p><em>Guard upgrade:</em> Homunculus gains +2 to its wisdom score and can
        spend 20 minutes to cast alarm. It can have one alarm spell active at the
        time</p>
      <p>
        <em>Translator upgrade:</em> Homunculus can instantly cast comprehend
        languages on itself 2 times per day.
      </p>
      <p>
        <em>Medic upgrade:</em> Homunculus can spend 20 minutes stationary healing
        target. Target regains 1 HP.
      </p>
      <p>
        <em>Radar upgrade:</em> Homunculus can cast detect evil and good 2 times
        per day.
      </p>
      <p>
        <em>Detection upgrade:</em> Homunculus can cast detect magic 2 times per
        day.
      </p>
      <p>
        <em>Sniffer upgrade:</em> Homunculus can cast detect poison and disease 2
        times per day.
      </p>
      <p>
        <em>Evasion upgrade:</em> Homunculus can cast cloud on itself once per
        day.
      </p>
      <p>
        <em>Filter upgrade:</em> Homunculus can cast purify food and drink twice
        per day.
      </p>
      <p>
        <em>Swim upgrade:</em> Homunculus gets swimming speed equal to its regular
        speed.
      </p>
      <p>
        <em>Runner upgrade:</em> Homunculus gets additional 20 ft of movement.
      </p>
    </section>
  </section>
  <section>

    <p>
      You can create and control one tiny or one small homunculus. Previous one needs
      to be disabled before you can create another
    </p>
    <p>
      In the process of creating small homunculi you take 2d4 damage and your max
      hit points is lowered by the same amount. This life can not be regained
      until the homunculus is deactivated. Small homunculus obeys its creator to
      the best of its ability and they can communicate telepathically
      within 60 ft (20 m) of each other.
    </p>
    <p>
      Each of those upgrades takes 2 hours and 20 gold worth of metals to
      construct and 10 minutes to switch one for another if there is no free slot
      on homunculus.
    </p>

    <app-monster [data]=small_humunculus></app-monster>
  </section>

  <h2>Journeyman</h2>
  <p><em>You become journeyman at level 10</em></p>

  <section>
    <h3>Potion And Explosive Making</h3>

    <p>
      Alchemist tools have everything you need to create journeyman level
      <a routerLink="../../references/potions" fragment="journeyman">potions</a> and
      <a routerLink="../../references/explosives" fragment="journeyman"><em>explosives</em></a>, provided you have
      materials. For materials gathering tips see
      <a routerLink="./" fragment="scavenging">scavenging</a> section at the end of
      this document.
    </p>
  </section>

  <section>
    <h3>Potion and Explosives Transmutation</h3>

    <p>
      Studying alchemy you get to understand components in magical materials. You
      can use journeyman level potions and explosives as ingredient for your new
      potions and explosives. Their component value is equal to their required
      components
    </p>
  </section>

  <section>
    <h4>Major Philosopher's stone</h4>
    <p>
      <em>DC:</em> 26 Arcana(INT) check + your proficiency in alchemist's tools
    </p>
    <p><em>Time:</em> 20 h</p>
    <p>
      <em>Ingredients:</em> 6 death, 6 life, 6 chaos, 6 order (must be precise)
    </p>
    <p>Alchemist takes 8d4 true damage in the process of creating this
      philosopher's stone, donating some of the life energy to it.</p>

    <app-item [data]="major_philosopher"></app-item>
  </section>

  <section>
    <h4>Major Panacea</h4>
    <p>
      <em>DC:</em> 18 Medicine(WIS) check + your proficiency in alchemist's
      tools
    </p>
    <p><em>Time:</em> 9 h</p>
    <p><em>Ingredients:</em> 6 life, 6 chaos, 6 order (must be precise)</p>

    <app-item [data]="major_panacea"></app-item>
  </section>


  <h4 style="clear: both;">Homunculi</h4>
  <section class='box'>
    <p>
      <em>Trap detection upgrade:</em> Homunculus can cast find traps 2 times
      per day.
    </p>
    <p>
      <em>Preservation upgrade:</em> Homunculus can cast gentle repose once per
      day.
    </p>
    <p>
      <em>Invisibility upgrade:</em> Homunculus can cast Invisibility on itself
      once per day.
    </p>
    <p>
      <em>Lock breaker upgrade:</em> Homunculus can cast knock 2 times per day.
    </p>
    <p>
      <em>Invisibility detection upgrade:</em> Homunculus can cast see
      invisibility on itself once per day.
    </p>
    <p>
      <em>Sky message upgrade:</em> Homunculus can cast skywrite once per day.
    </p>
    <p>
      <em>Judge upgrade:</em> Homunculus can cast zone of truth once per day.
    </p>
    <p>
      <em>Speech upgrade:</em> Homunculus can speak any language its creator
      knows. It answers any question posed by its creator to the best of its
      ability and transfers messages faithfully but isn't capable of holding a
      conversation.
    </p>
    <p>
      <em>Burrow upgrade:</em> Homunculus gets burrow speed equal to its regular
      speed.
    </p>
  </section>
  <section>
    <p>
      You can create and control one tiny and one small homunculi. Previous ones
      needs to be disabled before you can create another
    </p>
    <p>
      You can add following upgrades to your homunculi in addition to upgrades you
      already know:
    </p>

    <p>
      Each of those upgrades takes 4 hours and 40 gold worth of metals to
      construct and 10 minutes to switch one for another if there is no free slot
      on homunculus.
    </p>
  </section>

  <h2>Master</h2>
  <p><em>You become master at level 15</em></p>

  <section>
    <h3>Potion And Explosive Making</h3>

    <p>
      Alchemist tools have everything you need to create master level
      <a routerLink="../../references/potions" fragment="master">potions</a> and
      <a routerLink="../../references/explosives" fragment="master"><em>explosives</em></a>, provided you have
      materials.
      For materials gathering tips see
      <a routerLink="./" fragment="scavenging">scavenging</a> section at the end of
      this document.
    </p>
  </section>

  <section>
    <h3>Potion and Explosives Transmutation</h3>

    <p>
      Studying alchemy you get to understand components in magical materials. You
      can use master level potions and explosives as ingredient for your new
      potions and explosives. Their component value is equal to their required
      components
    </p>
  </section>

  <section>
    <h4>Perfect Philosopher's stone</h4>
    <p>
      <em>DC:</em> 30 Arcana(INT) check + your proficiency in alchemist's tools
    </p>
    <p><em>Time:</em> 24 h</p>
    <p>
      <em>Ingredients:</em> 7 death, 7 life, 7 chaos, 7 order (must be precise)
    </p>

    <p>Alchemist takes 8d4 true damage in the process of creating this
      philosopher's stone, donating some of the life energy to it.</p>

    <app-item [data]="perfect_philosopher"></app-item>
  </section>

  <section>
    <h4>Perfect Panacea</h4>
    <p>
      <em>DC:</em> 21 Medicine(WIS) check + your proficiency in alchemist's
      tools
    </p>
    <p><em>Time:</em> 10.5 h</p>
    <p><em>Ingredients:</em> 7 life, 7 chaos, 7 order (must be precise)</p>

    <app-item [data]="perfect_panacea"></app-item>
  </section>


  <h4 style="clear: both;">True Homunculi</h4>
  <section>
    <p>
      <em>DC:</em> 20 Arcana(INT) check + your proficiency in alchemist's tools
    </p>
    <p><em>Time:</em> 24 h</p>
    <p><em>Ingredients:</em> 1000 gp worth of metals</p>

    <p>
      You can create and control one tiny or small homunculi and one true
      homunculus. Previous one needs to be disabled before you can create another
      of same category
    </p>
    <p>
      In the process of creating true homunculi you take 4d4 damage and your max
      hit points is lowered by the same amount. This life can not be regained
      until the homunculus is deactivated. True homunculus obeys its creator to
      the best of its ability and can communicate telepathically with its creator
      if it is on same plane of existence. You can also add following upgrades (in
      addition to upgrades you already know):
    </p>

    <section class="box">
      <p>
        <em>Beacon upgrade:</em> Homunculus can cast beacon of hope on itself once
        per day, automatically choosing all creatures in its radius
      </p>
      <p>
        <em>Daylight upgrade:</em> Homunculus can cast daylight on itself once per
        day
      </p>
      <p>
        <em>Camping upgrade:</em> Homunculus can cast leomund's tiny hut once per
        day
      </p>
      <p>
        <em>Vault upgrade:</em> Homunculus has small extra dimensional drawer that
        can store an object no more than 5 ft across. While the homunculus is
        alive the drawer can't be opened without its creator's permission.
        Permanent nondetection is cast on the drawer
      </p>
      <p>
        <em>Improved telephone upgrade:</em> Homunculus can cast sending 2 times
        per day.
      </p>
      <p>
        <em>Fly upgrade:</em> Homunculus gets flying speed equal to its regular
        speed.
      </p>
      <p>
        <em>Tool upgrade:</em> Homunculus becomes integrated tool of your choice.
        You have +1 on all checks done with this tool.
      </p>
    </section>

  </section>
  <section>
    <p>
      Each of those upgrades takes 8 hours and 80 gold worth of metals to
      construct and 10 minutes to switch one for another if there is no free slot
      on homunculus.
    </p>

    <app-monster [data]=true_humunculus></app-monster>
  </section>

  <h2 id="scavenging">Scavenging</h2>

  <section>
    <ul>
      <li>
        You can spend one hour searching in the area for the alchemical laylines.
        No more than two party members can search same area for laylines in 24
        hours.
      </li>
      <li>
        You can scavenge while travelling. If you do that you get to make a throw
        every 4 hours of travel. You are travelling at half the speed while
        scavenging. Again only two party members can scavenge for alchemical
        laylines at the same time.
      </li>
      <li>You must declare the component you are searching for in advance.</li>
      <li>
        If you exceed DC for the area roll 1d4 and add that many points of the
        component to your alchemical supplies.
      </li>
      <li>
        If you exceed DC for the area for more than 5 you can roll 2d4 instead
      </li>
      <li>
        Your alchemist supplies can store up to 10 of each component, if you
        gather more than that the rest is wasted
      </li>
      <li>
        Alchemical supplies can be emptied via crafting. Components are considered
        already separated.
      </li>
    </ul>
  </section>

  <section>
    <h3>Nadir</h3>

    <h4 id="nadir_aquatic">Nadir Aquatic</h4>

    <table>
      <tr>
        <th>Component</th>
        <th>DC</th>
      </tr>
      <tr>
        <td>
          <app-alc [c]="1" [a]="0" [p]="0" [g]="0" [u]="0"></app-alc>
        </td>
        <td>10 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="1" [p]="0" [g]="0" [u]="0"></app-alc>
        </td>
        <td>15 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="0" [p]="1" [g]="0" [u]="0"></app-alc>
        </td>
        <td>12 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="0" [p]="0" [g]="1" [u]="0"></app-alc>
        </td>
        <td>12 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="0" [p]="0" [g]="0" [u]="1"></app-alc>
        </td>
        <td>22 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
    </table>
  </section>
  <section>
    <h4 id="nadir_nine_rivers">Nadir Nine Rivers</h4>

    <p><em>DC:</em> 12 survival + Your proficiency in herbalism kit</p>

    <table>
      <tr>
        <th>Component</th>
        <th>DC</th>
      </tr>
      <tr>
        <td>
          <app-alc [c]="1" [a]="0" [p]="0" [g]="0" [u]="0"></app-alc>
        </td>
        <td>14 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="1" [p]="0" [g]="0" [u]="0"></app-alc>
        </td>
        <td>15 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="0" [p]="1" [g]="0" [u]="0"></app-alc>
        </td>
        <td>10 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="0" [p]="0" [g]="1" [u]="0"></app-alc>
        </td>
        <td>10 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
      <tr>
        <td>
          <app-alc [c]="0" [a]="0" [p]="0" [g]="0" [u]="1"></app-alc>
        </td>
        <td>22 Survival check + your proficiency in alchemist's supplies</td>
      </tr>
    </table>
  </section>
</article>
