<article>
  <h1>Brewer's Supplies</h1>
  <section class='box'>
    <p>
      <em>History.</em> Proficiency with brewer's supplies allows you to add
      your proficiency to any History (INT) checks concerning events that
      involve alcohol as a significant element.
    </p>
    <p>
      <em>Medicine.</em> This tool proficiency allows you to add your bonus when
      you treat anyone suffering from alcohol poisoning or when you use alcohol
      to dull pain.
    </p>
    <p>
      <em>Persuasion.</em> A stiff drink can help soften the hardest heart. Your
      proficiency with brewer's supplies can help you ply someone with drink,
      giving them just enough alcohol to mellow their mood. You can add your
      proficiency bonus in brewer's supplies to any persuasion bonus you make
      against a drunk creature.
    </p>
    <p>
      <em>Potable Water.</em> Your knowledge of brewing enables you to purify
      water that would otherwise be undrinkable. As part of a long rest, you can
      purify up to 6 gallons (12 litres) of water, or 1 gallon (2 litres) as
      part of a short rest.
    </p>
  </section>

  <section class='box'>
    <h2>Brewer's Supplies Expert Feat</h2>
    <p>
      You increase your CHA score by 1 and instantly gain proficiency with
      brewer’s supplies.
    </p>
  </section>

  <h2 style='clear: both;'>Novice</h2>

  <section class='box'>
    <p>
      Whenever drinking alcohol, make a DC 10 + number of drinks already consumed
      since last short or long rest. On a failed save you are poisoned for an
      hour. If you fail by more than 5 you are unconscious while poisoned in this
      manner
    </p>
  </section>

  <section>
    <h3>Tinctures</h3>

    <p>
      You can create
      <a routerLink="../../references/tinctures" fragment="novice">novice level tinctures</a>
      out of ingredients you find on your journeys.
    </p>
  </section>

  <section>
    <h3>Component Distillation</h3>

    <p>
      You can spend one hour and make a DC 12 performance check + your proficiency
      in brewer's supplies to separate
      <app-alc [c]="0" [a]="1" [p]="0" [g]="1" [u]="0"></app-alc> from other
      components (<app-alc [c]="1" [a]="0" [p]="1" [g]="0" [u]="1"></app-alc>) in
      an ingredient. On a failed check the ingredient is destroyed.
    </p>
  </section>

  <section>
    <h3>Portable plant growers</h3>

    <p>
      As part of your adventuring brewer's supplies you carry around portable
      plant growers with either
      <a routerLink="../../ingredients/plants">Sun vine</a> or
      <a routerLink="../../ingredients/plants">Ruby red vine</a> and a
      <a routerLink="../../ingredients/plants">Hops plant</a>. Once every 6 days
      you can collect the useful parts of both plants. Timer is reset if you are
      hit by fire damage while carrying your tools. You have to decide on the type
      of grape at the beginning of the 6 day cycle
    </p>
  </section>

  <h3>Beer craft</h3>


  <p>
    You can be creating at most 4 bottles per brewers supplies at the time. You
    need to provide empty bottles in the process. If you fail your check for
    more than 5 the bottle is destroyed in the process.
  </p>

  <h4>Pale beer</h4>
  <ul>
    <li>
      <em>DC:</em> 10 Religion (INT) check + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 2 h + 3 days wait</li>
    <li><em>ingredients:</em> 1 hops</li>
  </ul>

  <p>
    When creating an enchanted drink based on pale beer you can replace any
    component with life.
  </p>

  <h3>Wine making</h3>

  <p>
    You can be creating at most 3 bottles per brewers supplies at the time. You
    need to provide empty bottles in the process. If you fail your check for
    more than 5 the bottle is destroyed in the process.
  </p>

  <h4>White wine</h4>
  <ul>
    <li>
      <em>DC:</em> 15 Nature (INT) check + your proficiency in brewer's supplies
    </li>
    <li><em>Time:</em> 2 h + 12 days wait</li>
    <li><em>ingredients:</em> 1 sun vine</li>
  </ul>

  <p>Any enchanted drink based on white wine requires 1 less life component.</p>

  <h4>Red wine</h4>
  <ul>
    <li>
      <em>DC:</em> 15 Nature (INT) check + your proficiency in brewer's supplies
    </li>
    <li><em>Time:</em> 2 h + 12 days wait</li>
    <li><em>ingredients:</em> 1 ruby red vine</li>
  </ul>

  <p>Any enchanted drink based on red wine requires 1 less order component.</p>

  <h3>Distillation</h3>

  <p>
    You can be creating at most 2 bottles per brewers supplies at the time. You
    need to provide empty bottles in the process. If you fail your check for
    more than 5 the bottle is destroyed in the process.
  </p>

  <h4>Base spirit</h4>
  <ul>
    <li>
      <em>DC:</em> 13 Medicine (INT) check + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 1 h + 2 days wait</li>
    <li><em>ingredients:</em> 1 of any fruit</li>
  </ul>

  <p>
    Adds 1 to any die rolls required by enchanted drink based on base spirit.
  </p>

  <h3>Enchanted Drinks</h3>
  <ul>
    <li>
      <em>DC:</em> 13 of the type specified + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 1 h + 1 day wait</li>
  </ul>

  <p>You can add up to 2 enchantments to the same base drink.</p>

  <table>
    <tr>
      <th>Enchantment</th>
      <th>Minimum components</th>
      <th>Check Type</th>
      <th>Effect</th>
    </tr>
    <tr>
      <td>Smooth talker</td>
      <td>
        <app-alc [c]="0" [a]="0" [p]="3" [g]="3" [u]="0"></app-alc>
      </td>
      <td>Insight (WIS)</td>
      <td>
        You can add 1d6 to all persuasion (CHA) Checks you make for one hour.
      </td>
    </tr>
    <tr>
      <td>Poet's drink</td>
      <td>
        <app-alc [c]="2" [a]="0" [p]="2" [g]="2" [u]="0"></app-alc>
      </td>
      <td>Deception (CHA)</td>
      <td>
        You can add 1d6 to all performance (CHA) checks you make for one hour.
      </td>
    </tr>
    <tr>
      <td>Ponderer's drink</td>
      <td>
        <app-alc [c]="0" [a]="0" [p]="2" [g]="2" [u]="2"></app-alc>
      </td>
      <td>Deception (CHA)</td>
      <td>
        You can add 1d6 to all insight (WIS) checks you make for one hour.
      </td>
    </tr>
    <tr>
      <td>Zealot's drink</td>
      <td>
        <app-alc [c]="2" [a]="2" [p]="2" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Religion (INT)</td>
      <td>
        You can add 1d6 to all saving throws against being feared and charmed
        for one hour.
      </td>
    </tr>
    <tr>
      <td>Sleeper's drink</td>
      <td>
        <app-alc [c]="3" [a]="3" [p]="0" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Medicine (WIS)</td>
      <td>
        A creature must succeed a DC 13 CON save or fall asleep for 1d4 hours or
        until it receives damage or is shaken awake. Damage received as part of
        drinking this enchanted drink does not wake the creature.
      </td>
    </tr>
    <tr>
      <td>Drunkard's poison</td>
      <td>
        <app-alc [c]="0" [a]="3" [p]="3" [g]="0" [u]="0"></app-alc>
      </td>
      <td>History (INT)</td>
      <td>
        A creature must succeed a DC 13 CON save or become poisoned for 10
        minutes. Creature has no recollection of events that happen during those
        10 minutes.
      </td>
    </tr>
    <tr>
      <td>Muscle poison</td>
      <td>
        <app-alc [c]="0" [a]="4" [p]="2" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Stealth (Dex)</td>
      <td>
        A creature must succeed a DC 13 CON save or become poisoned for 1 hour.
        While poisoned in this manner it has disadvantage on all STR saving
        throws
      </td>
    </tr>
    <tr>
      <td>Slowing poison</td>
      <td>
        <app-alc [c]="4" [a]="0" [p]="0" [g]="0" [u]="2"></app-alc>
      </td>
      <td>Athletics (Str)</td>
      <td>
        A creature must succeed a DC 13 CON save or become poisoned for 1 hour.
        While poisoned in this manner it has disadvantage on all DEX saving
        throws
      </td>
    </tr>
    <tr>
      <td>Rat poison</td>
      <td>
        <app-alc [c]="0" [a]="6" [p]="0" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Nature (INT)</td>
      <td>
        A creature must succeed a DC 13 CON save or suffer 3d6 poison damage and
        is poisoned for an hour. On success creature suffers half the damage and
        isn't poisoned.
      </td>
    </tr>
  </table>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="apprentice">apprentice level tinctures</a>
    out of ingredients you find on your journeys.
  </p>

  <h3>Portable plant growers</h3>

  <p>
    You learn small tricks of portable plant growth. When you harvest your
    plants you get two units of each. You can also plant
    <a routerLink="../../ingredients/plants">Abyssal dark vine</a> and
    <a routerLink="../../ingredient/plants">Fey rose</a> as your wine option.
  </p>

  <h3>Beer craft</h3>

  <h4>Dark beer</h4>
  <ul>
    <li>
      <em>DC:</em> 10 Religion (INT) check + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 2 h + 3 days wait</li>
    <li><em>ingredients:</em> 1 hops</li>
  </ul>

  <p>
    When creating an enchanted drink based on dark beer you can replace any
    component with death.
  </p>

  <h3>Wine making</h3>

  <p>
    You can be creating at most 3 bottles per brewers supplies at the time. You
    need to provide empty bottles in the process. If you fail your check for
    more than 5 the bottle is destroyed in the process.
  </p>

  <h4>Black wine</h4>
  <ul>
    <li>
      <em>DC:</em> 15 Nature (INT) check + your proficiency in brewer's supplies
    </li>
    <li><em>Time:</em> 2 h + 12 days wait</li>
    <li><em>ingredients:</em> 1 abyssal vine</li>
  </ul>

  <p>
    Any enchanted drink based on black wine requires 1 less death component.
  </p>

  <h4>Fey Rose</h4>
  <ul>
    <li>
      <em>DC:</em> 15 Nature (INT) check + your proficiency in brewer's supplies
    </li>
    <li><em>Time:</em> 2 h + 12 days wait</li>
    <li><em>ingredients:</em> 1 fey rose</li>
  </ul>

  <p>Any enchanted drink based on rose requires 1 less chaos component.</p>

  <h3>Enchanted Drinks</h3>
  <ul>
    <li>
      <em>DC:</em> 16 of the type specified + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 2 h + 2 day wait</li>
  </ul>

  <p>You can now add up to 3 enchantments to the same base drink.</p>

  <table>
    <tr>
      <th>Enchantment</th>
      <th>Minimum components</th>
      <th>Check Type</th>
      <th>Effect</th>
    </tr>
    <tr>
      <td>Warm drink</td>
      <td>
        <app-alc [c]="4" [a]="0" [p]="0" [g]="4" [u]="0"></app-alc>
      </td>
      <td>Arcana (INT)</td>
      <td>
        For 10 minutes you gain resistance to cold damage and suffer no
        consequences of being in a cold environment.
      </td>
    </tr>
    <tr>
      <td>Refreshing drink</td>
      <td>
        <app-alc [c]="4" [a]="0" [p]="4" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Arcana (INT)</td>
      <td>
        For 10 minutes you gain resistance to fire damage and suffer no
        consequences of being in a hot environment.
      </td>
    </tr>
    <tr>
      <td>Healing mix</td>
      <td>
        <app-alc [c]="0" [a]="0" [p]="0" [g]="4" [u]="4"></app-alc>
      </td>
      <td>Deception (CHA)</td>
      <td>You regain 2d4 HP and regain one hit die.</td>
    </tr>
    <tr>
      <td>Guard's drink</td>
      <td>
        <app-alc [c]="2" [a]="2" [p]="0" [g]="0" [u]="2"></app-alc>
      </td>
      <td>Religion (INT)</td>
      <td>
        You only need to sleep for 4 hours to gain your long rest. You still
        need to rest for 8 hours, but you can spend other 4 hours on light
        activity.
      </td>
    </tr>
    <tr>
      <td>Magician's bane</td>
      <td>
        <app-alc [c]="0" [a]="6" [p]="2" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Athletics (STR)</td>
      <td>
        For next 10 minutes a target must succeed DC 15 WIS saving throw
        whenever casting a spell. On a failed save the spell fizzles and the
        spell slot is consumed. On success this effect ends.
      </td>
    </tr>
    <tr>
      <td>Truth Serum</td>
      <td>
        <app-alc [c]="2" [a]="2" [p]="2" [g]="2" [u]="0"></app-alc>
      </td>
      <td>Insight (WIS)</td>
      <td>
        A creature must succeed a DC 13 CON save or become poisoned for 10
        minutes. While poisoned in this way creature can't willingly speak lie
        as if under effect of zone of truth.
      </td>
    </tr>
  </table>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="journeyman">journeyman level tinctures</a>
    out of ingredients you find on your journeys.
  </p>

  <h3>Portable plant growers</h3>

  <p>
    You infuse your planters with even more magic, lowering the growth time to 4
    days
  </p>

  <h3>Enchanted Drinks</h3>
  <ul>
    <li>
      <em>DC:</em> 19 of the type specified + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 3 h + 3 day wait</li>
  </ul>

  <p>You can now add up to 4 enchantments to the same base drink.</p>

  <table>
    <tr>
      <th>Enchantment</th>
      <th>Minimum components</th>
      <th>Check Type</th>
      <th>Effect</th>
    </tr>
    <tr>
      <td>Tight squeeze</td>
      <td>
        <app-alc [c]="0" [a]="0" [p]="8" [g]="2" [u]="0"></app-alc>
      </td>
      <td>Acrobatics (WIS)</td>
      <td>
        For 20 minutes you can pass through holes as small as one inch across as
        though you and all of your equipment is made of jelly.
      </td>
    </tr>
    <tr>
      <td>Visions</td>
      <td>
        <app-alc [c]="4" [a]="2" [p]="0" [g]="4" [u]="0"></app-alc>
      </td>
      <td>Acrobatics (WIS)</td>
      <td>
        When you create this potion you encode an experience into it that spans
        all senses. Whenever this drink is being drunk afterwards the experience
        is being relived.
      </td>
    </tr>
    <tr>
      <td>Extra Spice</td>
      <td>
        <app-alc [c]="0" [a]="5" [p]="5" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Acrobatics (WIS)</td>
      <td>
        For next minute you receive benefits of of dragon's breath spell of the
        fire type.
      </td>
    </tr>
  </table>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master">master level tinctures</a>
    out of ingredients you find on your journeys.
  </p>

  <h3>Portable plant growers</h3>

  <p>You can now grow 4 plants of either type in your planters</p>

  <h3>Enchanted Drinks</h3>
  <ul>
    <li>
      <em>DC:</em> 22 of the type specified + your proficiency in brewer's
      supplies
    </li>
    <li><em>Time:</em> 4 h + 4 day wait</li>
  </ul>

  <p>You can now add up to 5 enchantments to the same base drink.</p>

  <table>
    <tr>
      <th>Enchantment</th>
      <th>Minimum components</th>
      <th>Check Type</th>
      <th>Effect</th>
    </tr>
    <tr>
      <td>Fey honey</td>
      <td>
        <app-alc [c]="0" [a]="0" [p]="12" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Acrobatics (WIS)</td>
      <td>
        Summons Fey creature of challenge rating 4 or lower who is friendly to
        you and your allies. It obeys your commands but will not break its
        alignment. Creature is returned to her home after 30 minutes.
      </td>
    </tr>
    <tr>
      <td>Drunk prison</td>
      <td>
        <app-alc [c]="2" [a]="0" [p]="8" [g]="0" [u]="0"></app-alc>
      </td>
      <td>Acrobatics (WIS)</td>
      <td>
        Creature must succeed a DC 16 CHA save or be expelled to a realm of
        endless ever shifting maze. After 30 minutes the creature is returned to
        its home plane of existence.
      </td>
    </tr>
  </table>
</article>
