<article>
    <h1>Introduction for Dungeon Masters</h1>

    <p>This crafting guide is being created for a specific setting called The Southern Continent (a.k.a Quam). The
      setting is highly magical and revolves around exploration, building things and solving problems in new and unique
      ways. This crafting guide is therefor written to facilitate that kind of play.</p>

    <h2>Notes on Using the System</h2>

    <p>You will quickly notice that most of the crafting times are in minutes and hours as opposed to weeks and months
      in official guidelines. This is intentional. Games in my setting are fairly high tempo with adventurers going
      from one event to the next without much downtime. Crafting therefor happens in the evening hours after a long day
      of walk or during the short rests. If that is not the kind of game you are running feel free to expand the
      crafting times listed by a (possibly large) factor. It shouldn't break the system in any way.</p>

    <p>Using this crafting system will give your players a lot of utilities and options. It is probably not for you if
      you like to run games where every puzzle has only one solution and players need to go through every room of your
      dungeon in order to enjoy the full experience. Wast majority of things in this guide can be used in combat only
      with some creativity so it shouldn't offset the power of your encounters by much.</p>

    <p>When using this system you have two options. Either accept your players are incredibly talented craftsmen who
      can craft things no one else can, or make it part of your word, giving the tools to your NPCs as well. A bandit
      calligrapher could draw alarm marks around their camp, making it harder for players to sneak in unnoticed. Players
      could be spotted by a paper bird controlled by an enemy cartographer. Local barkeep could be using enchantments on
      his drink to make patrons more friendly to him. In my mind this makes world a lot more varied, interesting and
      alive.</p>

    <h2>Design Choices and Expanding the System</h2>

    <p>One of main design choices was keeping it all down to one roll per item creation. This should allow the pace of
      narrative go unbroken as long as your players know what they are doing. Learning and exploring the system is
      however a requirement on the part of your players as there is simply too many choices to read through them during
      the game.</p>

    <p>All tools have 4 stage scaling that depends on character level. This rule only applies to player characters and
      is meant to prevent them from gaining too much power at low levels. You can have lower level NPCs be any level
      craftsmen as they have spent their lives perfecting the craft and not adventuring around and saving the world.</p>

    <p>This system is also designed to use double proficiencies (from tool and skill used) in all of its checks. This
      makes low DC checks trivial (or even impossible to fail) in a higher level game. This is intentional. Master
      craftsman simply wouldn't fail to do something simple related to their craft. Please note that all tools can be
      used without a proficiency, it is just harder (no double proficiencies apply in that case). A very dexterous
      person can still lock pick the doors using thieves tools even without extensive training in its use.</p>

    <p>The system is also meant to be expandable. Adding new things a certain tool can do is relatively easy as it is
      mostly independent from other things that can be crafted. This future proofs it as I plan to add things as they
      came up in our games. </p>

    <p>Another conscious design choice was to make required checks as varied as possible, even inside a certain tool
      set. This is meant to allow players more variety when creating characters (a potion making barbarian is just as
      valid as potion making wizard). This also means that 2 characters with same tool proficiency will still be good
      at different things and not redundant. It will however require some imagination on yours (and your players) part
      to explain why certain check might be required for certain recipe. Or you can just take it as is and not bother
      with it.</p>

    <p>This system is also being published as we go and there is no "final version". I plan to keep adding things as I
      get more ideas or require things for my game. So make sure you check back every now and again if you are using
      this guide in your game.</p>

    <p>When expanding this system for your game, please keep all the above listed design choices in mind. Also if you
      are so inclined, do let me know if you get any ideas you would like to share. I make no promises about including
      them, but I will certainly consider any idea I get.</p>

    <p>My sincere wish is that this guide brings fun and joy and helps create memorable experiences.</p>

    <p>Yours truly, Yoti DM</p>

    </article>