<article>
  <h1>Cook's Utensils</h1>

  <ul>
    <li>
      <em>History.</em> Your knowledge of cooking techniques allows you to add
      your proficiency when trying to assess the social patterns involved in a
      culture's eating habits.
    </li>
    <li>
      <em>Medicine.</em> When administering treatment, you can transform
      medicine that is bitter or sour into a pleasing concoction.
    </li>
    <li>
      <em>Survival.</em> When foraging for food , you can make do with
      ingredients you scavenge that others would be unable to transform into
      nourishing meals. You gather one portion more of whatever you manage to
      scavenge.
    </li>
    <li>
      <em>Prepare Meals.</em> As part of a short rest, you can prepare a tasty
      meal that helps your companions regain their strength. You and up to five
      creatures of your choice regain 1 extra hit point per Hit Die spent during
      a short rest, provided you have access to your cook's utensils and
      sufficient food.
    </li>
  </ul>

  <h2>Cook’s Utensils Expert Feat</h2>
  <p>
    You increase your WIS score by 1 and instantly gain proficiency with cook’s
    utensils.
  </p>

  <h2>Novice</h2>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="novice"
      >novice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Boiling</h3>

  <p>
    You can make DC 12 survival check + your proficiency in cook's utensils to
    separate ingredient into
    <app-alc [c]="0" [a]="0" [p]="1" [g]="0" [u]="1"></app-alc> and
    <app-alc [c]="1" [a]="1" [p]="0" [g]="1" [u]="0"></app-alc>. On a failed
    save the ingredient is destroyed.
  </p>

  <h3>Rationing</h3>

  <h4>Three quarters meal</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Survival (WIS) + your proficiency in cook's utensils
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 3 rations for every 4 creatures eating.</li>
  </ul>

  <p>The meal fully feeds the number of medium creatures it was created for.</p>

  <h3>Meals</h3>

  <h4>Healing Soup</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Medicine (WIS) + your proficiency in cook's utensils
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 ration per meal, up to 4 meals.</li>
  </ul>

  <p>
    The meal fully feeds the number of medium creatures it was created for. It
    also allows any creature consuming it to immediately retake a saving throw
    against any disease if there is any.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="apprentice"
      >apprentice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Rationing</h3>

  <h4>Half meal</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Survival (WIS) + your proficiency in cook's utensils
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 ration for every 2 creatures eating.</li>
  </ul>

  <p>
    Creatures eating this half meal can make DC 10 CON save. On success this
    meal counts as full rations for the day.
  </p>

  <h3>Meals</h3>

  <h4>Toughening meal</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Medicine (WIS) + your proficiency in cook's utensils
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 ration per meal, up to 6 meals.</li>
  </ul>

  <p>
    The meal fully feeds the number of medium creatures it was created for. Each
    creature also gains 5 temporary hit points.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../references/tinctures" fragment="journeyman"
      >journeyman level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Meals</h3>

  <h4>Victory feast</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Performance (CHA) + your proficiency in cook's utensils
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 2 rations per meal, up to 20 meals.</li>
  </ul>

  <p>
    The meal fully feeds the number of medium creatures it was created for.
    During next long rest creatures participating in the feast regain all of
    their hit die (instead of just half) and can remove up to two levels of
    exhaustion.
  </p>

  <h4>Neutralizing meal</h4>

  <ul>
    <li><em>DC:</em> 17 nature (INT) + your proficiency in cook's utensils</li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 rations per meal, up to 6 meals.</li>
  </ul>

  <p>
    The meal fully feeds the number of medium creatures it was created for.
    Until the next rest those creatures get immunity against ingested poisons.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master"
      >master level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Meals</h3>

  <h4>Last feast</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Performance (CHA) + your proficiency in cook's utensils
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 3 rations per meal, up to 20 meals.</li>
  </ul>

  <p>
    The meal fully feeds the number of medium creatures it was created for. For
    the next 24 hours all creatures participating in the feast increase their
    hit points by 2d8, gain that much HP an are immune to fear.
  </p>
</article>
