<div id="main">
<div>
    <a (click)="set_data('a')">A</a>&#160;
    <a (click)="set_data('b')">B</a>&#160;
    <a (click)="set_data('c')">C</a>&#160;
    <a (click)="set_data('d')">D</a>&#160;
    <a (click)="set_data('e')">E</a>&#160;
    <a (click)="set_data('f')">F</a>&#160;
    <a (click)="set_data('g')">G</a>&#160;
    <a (click)="set_data('h')">H</a>&#160;
    <a (click)="set_data('i')">I</a>&#160;
    <a (click)="set_data('j')">J</a>&#160;
    <a (click)="set_data('k')">K</a>&#160;
    <a (click)="set_data('l')">L</a>&#160;
    <a (click)="set_data('m')">M</a>&#160;
    <a (click)="set_data('n')">N</a>&#160;
    <a (click)="set_data('o')">O</a>&#160;
    <a (click)="set_data('p')">P</a>&#160;
    <a (click)="set_data('q')">Q</a>&#160;
    <a (click)="set_data('r')">R</a>&#160;
    <a (click)="set_data('s')">S</a>&#160;
    <a (click)="set_data('t')">T</a>&#160;
    <a (click)="set_data('u')">U</a>&#160;
    <a (click)="set_data('v')">V</a>&#160;
    <a (click)="set_data('w')">W</a>&#160;
    <a (click)="set_data('x')">X</a>&#160;
    <a (click)="set_data('y')">Y</a>&#160;
    <a (click)="set_data('z')">Z</a>&#160;
</div>

<div><app-ingredient *ngFor="let item of filtered_data" [data]=item></app-ingredient></div>
</div>
