<article>
  <h1>Cartographer's Tools</h1>

  <ul>
    <li>
      <em>Arcana, History, Religion.</em> You can use your knowledge of maps and
      locations to add your proficiency bonus when you use these skills. For
      instance, you might spot hidden messages in a map, identify when the map
      was made to determine if geographical features have changed since then,
      and so forth.
    </li>
    <li>
      <em>Nature.</em> Your familiarity with physical geography allows you to
      add your proficiency to answer questions or solve issues relating to the
      terrain around you.
    </li>
    <li>
      <em>Survival.</em> Your understanding of geography allows you to add your
      proficiency in cartographer's tools when searching for paths to
      civilization, trying to predict areas where villages or towns might be
      found, and to avoid becoming lost. You have studied so many maps that
      common patterns, such as how trade routes evolve and where settlements a
      rise in relation to geographic locations, are familiar to you.
    </li>
    <li>
      <em>Craft a Map.</em> While travelling, you can draw a map as you go
      without a penalty to movement speed.
    </li>
  </ul>

  <h2>Cartographer’s Tools Expert Feat</h2>
  <p>
    You increase your WIS score by 1 and instantly gain proficiency with
    cartographer’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Observation Tools</h3>

  <h4>Paper balloon</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Arcana (INT) + your proficiency in cartographer's tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li>
      <em>Ingredients:</em> 1 sheets of arcanist paper (same as for writing
      magic scrolls)
    </li>
  </ul>

  <p>
    Once per day you can release the paper balloon which rises 300 ft into the
    air and floats in place for 15 minutes. While it floats there you get mental
    images from it allowing you go get better awareness of environment you are
    in. After 15 minutes balloon gently descends to location it was released
    from. Balloon has AC of 13, 5 HP and a speed (during ascend and descend) of
    20 ft.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Observation Tools</h3>

  <h4>Paper Dungeon Dweller</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Arcana (INT) + your proficiency in cartographer's tools
    </li>
    <li><em>Time:</em> 6 h</li>
    <li>
      <em>Ingredients:</em> 2 sheets of arcanist paper (same as for writing
      magic scrolls)
    </li>
  </ul>

  <p>
    Once per day you can release the dungeon dweller which then travels up to
    300 ft into the direction you pointed it in. For the next 15 minutes you
    receive mental images from it. It has superior dark vision (120 ft) even if
    you do not. Dweller has AC of 12, 6 HP and a movement speed of 20 ft.
  </p>

  <h4>Paper Boat</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Arcana (INT) + your proficiency in cartographer's tools
    </li>
    <li><em>Time:</em> 6 h</li>
    <li>
      <em>Ingredients:</em> 2 sheets of arcanist paper (same as for writing
      magic scrolls)
    </li>
  </ul>

  <p>
    Once per day you can release the paper boat which then travels up to 300 ft
    into the direction you pointed it in (against the current if needed). For
    the next 15 minutes you receive mental images from it. Boat has AC of 12, 6
    HP and a movement speed of 30 ft.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Observation Tools</h3>

  <h4>Paper Bird</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Arcana (INT) + your proficiency in cartographer's tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> 3 sheets of arcanist paper (same as for writing
      magic scrolls)
    </li>
  </ul>

  <p>
    Once per day you can release the paper bird which then travels 300 ft into
    the air following you around for one hour or until you recall it. During
    that time you receive mental images from it. Paper bird has AC of 14, 4 HP
    and a fly speed of 30 ft.
  </p>

  <h4>Paper Submarine</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Arcana (INT) + your proficiency in cartographer's tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> 3 sheets of arcanist paper (same as for writing
      magic scrolls)
    </li>
  </ul>

  <p>
    Once per day you can release the paper submarine which then sinks up to 300
    ft or to the bottom of the body of water you released it in. It follows you
    around for one hour or until you recall it. During that time you receive
    mental images from it. Paper submarine has AC of 14, 4 HP and a swim speed
    of 30 ft.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Observation Tools</h3>

  <p>
    Paper balloons, dungeon dwellers and paper boats you create now can be used
    twice a day.
  </p>

  <p>
    Paper birds and submarines now lasts for up to two hours per day. You can
    also control their movement and chart their path sending it up to 1 mile
    (1.5 km) from you.
  </p>
</article>
