<article>
  <h1>Disguise Kit</h1>

  <ul>
    <li>
      <em>Deception.</em> In certain cases, a disguise can improve your ability
      to weave convincing lies. You can add your proficiency in disguise kit to
      all deception checks made while you are disguised.
    </li>
    <li>
      <em>Intimidation.</em> The right disguise can make you look more fearsome,
      whether you want to scare someone away by posing as a plague victim or
      intimidate a gang of thugs by taking the appearance of a bully. You can
      add your proficiency in disguise kit to all intimidation checks made while
      in disguise made to scare people away.
    </li>
    <li>
      <em>Performance.</em> A cunning disguise can enhance an audience's
      enjoyment of a performance, provided the disguise is properly designed to
      evoke the desired reaction. You can add your proficiency in disguise kit
      to any performance checks while in a disguise made to entertain.
    </li>
    <li>
      <em>Persuasion.</em> Folk tend to trust a person in uniform. If you
      disguise yourself as an authority figure, you can add your proficiency in
      disguise kit to persuade them.
    </li>
  </ul>

  <h2>Disguise Kit Expert Feat</h2>
  <p>
    You increase your CHA score by 1 and instantly gain proficiency with
    disguise kit.
  </p>

  <h2>Novice</h2>

  <h3>Pigments</h3>

  <p>
    You can create <a routerLink="../../references/pigments">pigments</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="novice"
      >novice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Latebras</h3>

  <p>
    You can make DC 12 stealth check + your proficiency in disguise kit to
    separate ingredient into
    <app-alc [c]="1" [a]="1" [p]="0" [g]="0" [u]="0"></app-alc> and
    <app-alc [c]="0" [a]="0" [p]="1" [g]="1" [u]="1"></app-alc>. On a failed
    save the ingredient is destroyed.
  </p>

  <h3>Disguise</h3>

  <h4>Simple disguise</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Sleight of hands (DEX) + your proficiency in disguise kit
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> 1 pigment</li>
  </ul>

  <p>
    Simple disguise that allows you to change facial features. It takes 10
    minutes to put it on or off.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" routerLink="apprentice"
      >apprentice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Disguise</h3>

  <h4>Extensive disguise</h4>

  <ul>
    <li>
      <em>DC:</em> 15 Sleight of hands (DEX) + your proficiency in disguise kit
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> 2 different pigments</li>
  </ul>

  <p>
    Disguise that allows you to change into a member of different race of same
    size as well as completely change your facial features. It takes 30 minutes
    to put it on or off.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="journeyman"
      >journeyman level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Disguise</h3>

  <h4>Complete disguise</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Sleight of hands (DEX) + your proficiency in disguise kit
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> 4 different pigments</li>
  </ul>

  <p>
    Disguise that allows you to change into a member of different race of same
    size as well as change your gender and completely change your facial
    features. You can also add illusory muscles or fat without hindering any of
    your abilities. It takes 1 hour to put it on or off.
  </p>

  <h3>Masks</h3>

  <h4>Lawbreaker’s Mask</h4>

  <ul>
    <li><em>DC:</em> 20 Stealth (DEX) + your proficiency in disguise kit</li>
    <li><em>Time:</em> 24 h</li>
    <li><em>Ingredients:</em> wooden mask, 6 different pigments</li>
  </ul>

  <p>
    While you are wearing this mask, anyone attempting to recall specifics of
    your dress, build, posture, voice, etcetera must pass a DC 20 Wisdom saving
    throw to be able to do so. Otherwise, they can offer only vague, meaningless
    descriptions, your form quickly fading from their memory.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master"
      >master level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Disguise</h3>

  <p>
    Your complete disguise allows you to mimic humanoids that are one feet
    higher or lower than you. You can create disguises for others. It also takes
    you only half the time to put your disguises up and down.
  </p>

  <h3>Masks</h3>

  <h4>Mask of The Medusa</h4>

  <ul>
    <li><em>DC:</em> 24 Arcana (INT) + your proficiency in disguise kit</li>
    <li><em>Time:</em> 48 h</li>
    <li><em>Ingredients:</em> porcelain mask, 8 different pigments</li>
  </ul>

  <p>
    While wearing this mask you have disadvantage on persuasion checks and
    advantage on intimidation checks. Once a day you can make a DC 13
    intimidation check. On success you can cast flesh to stone without using
    spell slot. DC for this spell is 13. On a failed check you suffer 1 point of
    exhaustion.
  </p>
</article>
