
<article>
  <h1>Sho Makoto's Guide to Alchemical Components</h1>

  <p>
    This guide was first written for young alchemists of the Lumengrid Academy
    before I left for Sultai to study the whole alchemical wheel more deeply, as
    good science demands. There I expanded it to include the components of
    passion and growth, which were barely mentioned in the original curriculum.
    Then, at the request of my correspondents in the Place of Knowledge, I wrote
    this abridged version, better suited for those with simple engineering minds
    who do not wish to spend the requisite hours meditating on deep concepts of
    magic, but wish to get right to work crafting items useful to their lives.
  </p>

  <p>
    It is my sincere hope that the ever-working people of the Archive will copy
    and distribute this text and put it into the hands of as many people as
    possible, so that we may see a new influx of talent and a new age of magical
    exploration.
  </p>

  <h2>Basics</h2>

  <p>
    The birth of alchemy is shrouded in mystery, but it is widely believed that
    it was first practiced by primitive tribes of what is now known as Abyss. I
    have seen some evidence indicating that it was developed separately by the
    peoples of broken planes of Acheron, but of course little remains of the
    pre-Havoc history of both planes and exploration is too dangerous to attempt
    lightly.<sup>1</sup>
  </p>

  <p>
    The first thing a budding alchemist must learn is surely an alchemical
    wheel. There have been quite a few versions of this wheel throughout
    history<sup>2</sup>, ranging from 2 to 6 or even more basic components. We
    will focus on the version that is correct and works best when trying to
    actually practice alchemy. it contains five basic components, which are
    described in the following sections.
  </p>

  <p>
    <small
      ><i
        >1. I go into detail and what little of archeological evidence was
        presented to me by a group of scrappers in full version</i
      ></small
    >
  </p>

  <p>
    <small
      ><i
        >2. Most common misconceptions are described in full text. Just let it
        be clear at this point that most mistakes are made when so-called
        researchers try to mix science and morality. The alchemical wheel has no
        exact opposites or naturally good or evil points. It is instead a gentle
        flow of ideas.</i
      ></small
    >
  </p>

  <h3>Control</h3>

  <p>
    The first point in the wheel signifies cold control over the environment and
    oneself. To gain mastery of this component, one must spend many hours
    practicing restraint and willpower. In some virtues, this component is
    opposed by violent energy that comes with passion and change that comes from
    growth. And while some members of the Academy would have students believe
    that these two components are evil, I would just like to reiterate that this
    is science, not morality. You just have to use the right components for the
    right task.
  </p>

  <h3>Ambition</h3>

  <p>
    Associated with achieving goals and sacrifice. To achieve mastery, one must
    spend time pondering the goals and letting go of things that are not
    important to that goal. It is often mistakenly attributed an evil
    connotation, as it is used extensively in necromancy and poison making.
    Philosophically, however, these are merely a means to an end and not evil
    per se. Ambition is opposed by the forces of wild growth and unity, which
    override personal agency.
  </p>

  <h3>Passion</h3>

  <p>
    Associated with wild emotion, power and action before thought. Shunned by
    too many researchers, this component is often seen as the domain of the wild
    beasts. What they fail to see is that passion can also take you beyond the
    confines of a small, ordered world, gives you energy to keep going when
    others have already given up. Very useful in the right amounts. Contrast
    that with unity and control, for obvious reasons.
  </p>

  <h3>Growth</h3>

  <p>
    Associated with the spontaneous workings of nature, growth is often used to
    enhance and mutate physical aspects of the living. Often overlooked as
    useless by the intellectually inclined, it is still very useful to the
    common folk and engineers, and should thus be explored to its fullest
    extent. In contrast to the strict control and decaying sacrificial nature of
    ambition.
  </p>

  <h3>Unity</h3>

  <p>
    Last but certainly not least, we come to unity. To gain mastery of this
    component, one must meditate on patterns and common rules that govern this
    universe and everything (and everyone) in it. The way I see it, it is often
    associated with hierarchy and monotony, something much sought after in
    civilized societies, but perhaps not very useful for science and scientists,
    as it turns out. It is opposed by individuality of ambition and the
    explosiveness of passion.
  </p>

  <h3>Notation</h3>

  <p>
    To spare a few words here and there, and to reduce the time spent writing
    and copying this document, I will use standard alchemical notation from here
    on.
  </p>

  <ul>
    <li><app-alc [c]=1></app-alc> Control</li>
    <li><app-alc [a]=1></app-alc> Ambition</li>
    <li><app-alc [p]=1></app-alc> Passion</li>
    <li><app-alc [g]=1></app-alc> Growth</li>
    <li><app-alc [u]=1></app-alc> Unity</li>
  </ul>

  <h2>Combinations</h2>

  <p>
    As I mentioned earlier, no two components are exact opposites of one another
    and can therefore be used in combination to complement desired qualities and
    cancel out undesirable ones. This, of course, contradicts the common notions
    of duality and opposites held by some scholars and clerics. With such
    unproven beliefs, they are missing vast areas of possibility.
  </p>

  <p>
    To keep it short and this document quick to copy I will only go through the
    basic characteristics of all combinations as I have found them to be through
    my research. For more theories and explanations, see the full version of
    this guide.
  </p>

  <h3>Binary Combinations</h3>

  <table>
    <tr>
      <th>Components</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1></app-alc></td>
      <td>
        Controlled ambition, deep plans executed with precision, working in
        shadow and changing the smallest things to achieve great results.
        Invisibility potions fall into this category.
      </td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [p]=1></app-alc></td>
      <td>
        Controlled use of destructive magic. Alchemist fire falls straight into
        this category.
      </td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [g]=1></app-alc></td>
      <td>
        Controlled mutation and growth. Potions of growth and diminution fall
        into this category
      </td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [u]=1></app-alc></td>
      <td>
        Controlled order. Useful for creating bonds as well as potions of
        calmness and sleep. Potion of Comprehension is one example of such bond.
      </td>
    </tr>
    <tr>
      <td><app-alc [a]=1 [p]=1></app-alc></td>
      <td>
        Combination of ambition and passion. Acids fall into this category, as
        well as many poisons when components aren't balanced.
      </td>
    </tr>
    <tr>
      <td><app-alc [g]=1 [a]=1></app-alc></td>
      <td>
        Plants growing on corpses are known to have a lot of those two
        components.
      </td>
    </tr>
    <tr>
      <td><app-alc [u]=1 [a]=1></app-alc></td>
      <td>Unweaving ambition. Potion of Heroism is one example.</td>
    </tr>
    <tr>
      <td><app-alc [p]=1 [g]=1></app-alc></td>
      <td>
        Passion and growth together represent the wildest, most powerful aspects
        of nature. Potions used by berserker tribes amd magslayers are prime
        example.
      </td>
    </tr>
    <tr>
      <td><app-alc [p]=1 [u]=1></app-alc></td>
      <td>
        Passion through order. Potions that enhance without mutation, like
        potions of giant strength fall into this category.
      </td>
    </tr>
    <tr>
      <td><app-alc [g]=1 [u]=1></app-alc></td>
      <td>
        Ordered growth. Healing and regenerative potions fall straight into this
        category.
      </td>
    </tr>
  </table>

  <h3>Ternary Combinations</h3>

  <table>
    <tr>
      <th>Components</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1 [p]=1></app-alc></td>
      <td>Majority of contact poisons fall into this category.</td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1 [g]=1></app-alc></td>
      <td>Majority of inhaled poisons fall into this category.</td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1 [u]=1></app-alc></td>
      <td>
        Anesthetics, mind control and some drugs that often have mind altering
        properties fall into this category. Example is Dreamlily.
      </td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [g]=1 [p]=1></app-alc></td>
      <td>Potions that mutate and add abilities such as potion of flying</td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [u]=1 [p]=1></app-alc></td>
      <td>Magical effects and bottled spells, such as bottled breath.</td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [g]=1 [u]=1></app-alc></td>
      <td>
        Potions that amplify physical abilities without visible mutations, like
        potion of climbing.
      </td>
    </tr>
    <tr>
      <td><app-alc [g]=1 [a]=1 [p]=1></app-alc></td>
      <td>
        Majority of injury poisons fall into this as well as some offensive
        mutagen potions
      </td>
    </tr>
    <tr>
      <td><app-alc [u]=1 [a]=1 [p]=1></app-alc></td>
      <td>Majority of ingested poisons fall into this category</td>
    </tr>
    <tr>
      <td><app-alc [g]=1 [a]=1 [u]=1></app-alc></td>
      <td>
        Ability enhancement at some price. Potions such as potion of watchful
        rest.
      </td>
    </tr>
    <tr>
      <td><app-alc [g]=1 [u]=1 [p]=1></app-alc></td>
      <td>Wild and dangerous improvements, such as oil of sharpness</td>
    </tr>
  </table>

  <h3>Quaternary Combinations</h3>

  <table>
    <tr>
      <th>Components</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1 [p]=1 [g]=1></app-alc></td>
      <td>
        Violent, aggressive and often permanent change. Potions like blood of
        the lycanthrope
      </td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1 [p]=1 [u]=1></app-alc></td>
      <td>Portal magic, such as oil of etherealness</td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [a]=1 [g]=1 [u]=1></app-alc></td>
      <td>Defensive magic, potions like resistance</td>
    </tr>
    <tr>
      <td><app-alc [c]=1 [p]=1 [g]=1 [u]=1></app-alc></td>
      <td>Clairvoyance, such as potion of clairvoyance.</td>
    </tr>
    <tr>
      <td><app-alc [p]=1 [a]=1 [g]=1 [u]=1></app-alc></td>
      <td>Luck, such as potion of possibility</td>
    </tr>
  </table>

  <h3>Ultimate</h3>

  <p>
    To end this scientific outline, a word must be said about the perfect
    balance of all five components. If one is able to achieve this, one will
    obtain a magical substance known as the Philosopher's stone (in solid form),
    or a liquid of perfect life force called Panacea. Both of these substances
    are very sophisticated to make and require years of preparation and a very
    talented alchemist. As such, they are far beyond this simple treatment.
  </p>
</article>
