<article>
  <h1>Introduction for Players</h1>
  <p>
    This crafting guide is being created for a specific setting called The
    Southern Continent (a.k.a Quam). The setting is highly magical and revolves
    around exploration, building things and solving problems in new and unique
    ways. This crafting guide is therefor written to facilitate that kind of
    play. So keep in mind that it has to be approved by your dungeon master and
    it needs to fit in their game. Your DM is also allowed to change and / or
    ban any content in this guide. Talk to them about the details and specifics.
  </p>

  <p>
    You should read through documents for the kits your character has, to see
    what those tools can do at your level before the game to get familiarity
    with mechanics involved. Things like pigments and potions will require you
    to gather ingredients and it is very beneficial if you check between
    sessions what potions and pigments your character can make from ingredients
    gathered.
  </p>

  <p>
    This site plays fairly well with phones and tablets and is trying to have
    quick links and references wherever possible so have it at the ready if you
    want crafting to be significant part of your game and your character.
  </p>

  <p>
    When creating a character that will be able to use one of the tools, think
    about how it connects to their backstory as well as how it plays into their
    motivations. Did a character use their craft in the past to create / solve a
    problem? Do they believe that creating a master level item will help them
    resolve their motivating problems? Are there personal achievements (like
    creating superior philosopher stone for alchemist) connected to the tool?
  </p>

  <p>
    You can also think about people from your backstory that are connected to
    your craft. Who was your mentor? Why did you chose this profession? Where
    did you get ingredients? Who were your rivals in the guild if you had one?
    Answering those questions will hopefully allow you to create richer and more
    interesting backstory for your new character.
  </p>

  <p>Above all else, do not forget to have fun.</p>

  <p>Yours truly, Yoti DM</p>
</article>
