<article>
  <h1>Glassblower's Tools</h1>

  <ul>
    <li>
      <em>Arcana, History.</em> Your knowledge of glass-making techniques allows
      you to add your proficiency in glassblower's tools when you examine glass
      objects, such as potion bottles or glass items found in a treasure hoard.
      For instance, you can study how a glass potion bottle has been changed by
      its contents to help determine a potion's effects. (A potion might leave
      behind a residue, deform the glass, or stain it.)
    </li>
    <li>
      <em>Investigation.</em> You can add your proficiency in glassblower's
      tools when examining broken glass or glass objects.
    </li>
    <li>
      <em>Identify Weakness.</em> With 1 minute of study, you can identify the
      weak points in a glass object. Any damage dealt to the object by striking
      a weak spot is doubled.
    </li>
  </ul>

  <h2>Glassblower’s Tools Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with
    Glassblower’s Tools.
  </p>

  <h2>Novice</h2>

  <h3>Vial</h3>

  <h4>Glass Vial</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Sleight of Hands (Dex) + your proficiency in glassblower’s
      tools
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>Glass vial used for potions, poisons and acids.</p>

  <h3>Aquarium</h3>

  <h4>Small Aquarium</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Sleight of Hands (Dex) + your proficiency in glassblower’s
      tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>Small aquarium that can house up to one tiny aquatic plant or animal.</p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Vial</h3>

  <h4>Double Glass Vial</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Arcana (Int) + your proficiency in glassblower’s tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Glass vial used for potions, poisons and acids. It has a special cover that
    can be turned into one of two directions before it is opened. Turning it one
    or the other direction reveals two different fully sized vial chambers. This
    vial can store up to two liquids without mixing them. Breaking the vial
    causes liquids to mix.
  </p>

  <h3>Aquarium</h3>

  <h4>Aquarium</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Sleight of Hands (Dex) + your proficiency in glassblower’s
      tools
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Aquarium that can house up to one small or two tiny aquatic plants or
    animals.
  </p>

  <h3>Miscellaneous</h3>

  <h4>Monocular</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Nature (INT) + your proficiency in glassblower’s tools
    </li>
    <li><em>Time:</em> 5 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Monocular allows you to see objects at a greater distance, negating any
    distance based disadvantage to perception.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Vial</h3>

  <h4>Triple Glass vial</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Arcana (Int) + your proficiency in glassblower’s tools
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Glass vial used for potions, poisons and acids. It has a special cover that
    can be turned into one of three directions before it is opened. Turning it
    one or the other direction reveals three different fully sized vial
    chambers. This vial can store up to three liquids without mixing them.
    Breaking the vial causes liquids to mix.
  </p>

  <h3>Aquarium</h3>

  <h4>Large Aquarium</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Sleight of Hands (Dex) + your proficiency in glassblower’s
      tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Aquarium on wheels that can be pulled around by a person. It can house up to
    one medium or two small aquatic plants or animals.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Vial</h3>

  <h4>Quadruple Glass vial</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Arcana (Int) + your proficiency in glassblower’s tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Glass vial used for potions, poisons and acids. It has a special cover that
    can be turned into one of four directions before it is opened. Turning it
    one or the other direction reveals four different fully sized vial chambers.
    This vial can store up to four liquids without mixing them. Breaking the
    vial causes liquids to mix.
  </p>

  <h3>Aquarium</h3>

  <h4>Aquacart</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Sleight of Hands (Dex) + your proficiency in glassblower’s
      tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> Sufficient amount of fine sand.</li>
  </ul>

  <p>
    Aquarium on wheels that can be pulled around by a horse or similar. It can
    house up to one large or two medium aquatic plants or animals.
  </p>
</article>
