@use '../global';

app-header {
    width: 100%;
    height: 64px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    background-color: global.$square;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

app-header::-webkit-scrollbar {
    display: none;
}

app-main {
    top: 64px;
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    box-sizing: border-box;
    padding: 0% 10% 0% 10%;
    overflow-y: auto;
}