@use '../../../global';

header {
    height: 64px;
    padding: 0px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

img {
    position:relative;
    display: inline-block;
    height: 64px;
    width: 64px;
}

div {
    line-height: 32px;
    height: 32px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: global.$background;
    margin-left: 16px;
    position: relative;
    display: inline-block;
    top: -24px,
}