<article>
  <h1>Woodcarver's Tools</h1>

  <ul>
    <li>
      <em>Arcana, History.</em> Your expertise allows you to add your
      proficiency in woodcarver's tools when you examine wooden objects, such as
      figurines or arrows.
    </li>
    <li>
      <em>Nature.</em> Your knowledge of wooden objects allows you to add your
      proficiency in woodcarver's tools when you examine trees.
    </li>
    <li>
      <em>Repair.</em> As part of a short rest, you can repair a single small
      damaged wooden object.
    </li>
  </ul>

  <h2>Woodcarver's Tools Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with
    woodcarver’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Religious</h3>

  <h4>Religious symbol</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Religion (INT) + your proficiency in woodcarver's tools
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> 5 x 5 inches of wooden surface</li>
  </ul>

  <p>
    A recognizable symbol of a god you know about, carved into wood. Might
    extend the influence of the deity it is dedicated to.
  </p>

  <h3>Ammunition</h3>

  <h4>Arrow / Bolt shafts</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Slight of hands (DEX) + your proficiency in woodcarver's
      tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> Sufficient amount of wood</li>
  </ul>

  <p>Creates 10 arrow / bolt shafts</p>

  <h3>Shafts</h3>

  <h4>Medium shaft</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Sleight of hand (DEX) + your proficiency in woodcarver's
      tools
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> Big enough piece of wood.</li>
  </ul>

  <p>Medium shaft used for axes and maces.</p>

  <h4>Long shaft</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Sleight of hand (DEX) + your proficiency in woodcarver's
      tools
    </li>
    <li><em>Time:</em> 20 min</li>
    <li><em>Ingredients:</em> Big enough piece of wood.</li>
  </ul>

  <p>Long shaft used for pikes and halberds.</p>

  <h3>Woodsenses</h3>

  <h4>Ear</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Perception (WIS) + your proficiency in woodcarver’s tools
    </li>
    <li><em>Time:</em> 20 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For one hour after finishing the carving you can use your action to switch
    your own hearing for that of an ear carved in the wood, as long as the piece
    of wood is on the same plane of the existence. You can switch back and forth
    as many times as you want, for the duration of enchantment. You can only
    have one woodsense ear active at the time.
  </p>

  <h4>Eye</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Perception (WIS) + your proficiency in woodcarver’s tools
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For one hour after finishing the carving you can use your action to switch
    your own sight for that of an eye carved in the wood, as long as the piece
    of wood is on the same plane of the existence. You can use your own dark
    vision or true sight, if you have any. You can switch back and forth as many
    times as you want, for the duration of enchantment. You can only have one
    woodsense eye active at the time.
  </p>

  <h4>Nose</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Perception (WIS) + your proficiency in woodcarver's tools
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For one hour after finishing the carving you can use your action to switch
    your own smell for that of an nose carved in the wood, as long as the piece
    of wood is on the same plane of the existence. You can switch back and forth
    as many times as you want, for the duration of enchantment. You can only
    have one woodsense nose active at the time.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Woodsenses</h3>

  <p>
    The duration of enchantment is extended to 24 hours for all woodsense
    carvings. You can create woodsense carvings for other people.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Woodsenses</h3>

  <p>Crafting time for all woodsense carvings is lowered to 10 minutes.</p>

  <h4>Mouth</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Perception (WIS) + your proficiency in woodcarver’s tools
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> /</li>
  </ul>

  <p>
    For 24 hours after finishing the carving you can use your action to switch
    your own taste for that of an mouth carved in the wood, as long as the piece
    of wood is on the same plane of the existence. You can switch back and forth
    as many times as you want, for the duration of enchantment. You can use
    woodsense mouth to talk with your normal voice and in the languages you can
    speak. You can only have one woodsense mouth active at the time.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Religious</h3>

  <h4>Divine focus</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Religion (INT) + your proficiency in woodcarver's tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> Small piece of wood</li>
  </ul>

  <p>
    Small wooden object expertly crafted into an image or symbol of a deity.
    Acts as divine focus.
  </p>

  <h3>Ammunition</h3>

  <p>All weapons using your shafts are considered magical.</p>

  <h3>Modifications</h3>

  <h3>+1 Enchantment</h3>

  <ul>
    <li>
      <em>DC:</em> 20 Sleight of hand (DEX) + your proficiency in woodcarver's
      tools
    </li>
    <li>
      <em>Time:</em> 1 hour for small (arrow, bolt), 4 hours for medium, 8 hours
      for large.
    </li>
    <li>
      <em>Ingredients:</em> Weapon with shaft or pole, without this
      modification.
    </li>
  </ul>

  <p>
    You can create intricate carvings into any shaft using weapon to make it +1.
    This bonus is added to other bonuses weapon might already have, but it can't
    exceed +3 total.
  </p>

  <h3>Woodsenses</h3>

  <p>
    You can have 2 woodsense carvings of same type active at the same time. You
    can also switch your senses as a bonus action.
  </p>
</article>
