<span>
    <span *ngIf="a>0">{{a}}&#160;<img src="assets/ambition.png" height="16px" /></span><span *ngIf="c>0 && a>0">&#160;&#160;</span>
    <span *ngIf="c>0">{{c}}&#160;<img src="assets/control.png" height="16px"  /></span><span *ngIf="(c+a)>0 && g>0">&#160;&#160;</span>
    <span *ngIf="g>0">{{g}}&#160;<img src="assets/growth.png" height="16px"   /></span><span *ngIf="(c+a+g)>0 && p>0">&#160;&#160;</span>
    <span *ngIf="p>0">{{p}}&#160;<img src="assets/passion.png" height="16px"  /></span><span *ngIf="(c+a+g+p)>0 && u>0">&#160;&#160;</span>
    <span *ngIf="u>0">{{u}}&#160;<img src="assets/unity.png" height="16px"    /></span>
</span>
