<main>
  <h1>Tinctures</h1>

  <h2>Rules</h2>

  <ul>
    <li>
      Tinctures can be created using brewer's supplies, cook's utensils,
      disguise kit, healer's kit, herbalism kit, poisoner's kit or thieves'
      tools. You do not need to be proficient but it helps.
    </li>
    <li>You need to provide glass vial for each tincture that you make.</li>
    <li>
      Recipes provided are minimum components required. You can provide more
      than that.
    </li>
    <li>
      DC check is equal to components provided (It is harder to make tincture
      with undesired components).
    </li>
    <li>
      Brewing a tincture takes number of hours equal to the components provided
      (It is harder to make potion with undesired components). You can pause the
      tincture making at any point but you can only be making one tincture per
      kit at once.
    </li>
    <li>If you have multiple kits you can work at 2 tinctures at a time.</li>
    <li>
      If you fail the check all components are are destroyed. If you fail by 5
      or more vial is destroyed also.
    </li>
  </ul>

  <h2 id="novice">Novice</h2>

  <table>
    <tr>
      <th>Tincture</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#perfume%20(vial)_phb"
          text="Parfume (vial)"
        ></app-hidden-link>
      </td>
      <td>Persuasion (CHA) + proficiency with kit</td>
      <td><app-alc [c]=0 [a]=2 [p]=3 [g]=3 [u]=0></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#oil%20(flask)_phb"
          text="Oil (flask)"
        ></app-hidden-link>
      </td>
      <td>Sleight of Hand (DEX) + proficiency with kit</td>
      <td><app-alc [c]=0 [a]=0 [p]=4 [g]=4 [u]=0></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#oil%20of%20slipperiness_dmg"
          text="Oil of Slipperiness"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]=3 [a]=0 [p]=0 [g]=3 [u]=3></app-alc></td>
    </tr>
  </table>

  <h2 id="apprentice">Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <table>
    <tr>
      <th>Tincture</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#perfume%20of%20bewitching_xge"
          text="Parfume of Bewitching"
        ></app-hidden-link>
      </td>
      <td>Persuasion (CHA) + proficiency with kit</td>
      <td><app-alc [c]=0 [a]=4 [p]=4 [g]=4 [u]=0></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#willowshade%20oil_egw"
          text="Willowshade Oil"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]=2 [a]=0 [p]=2 [g]=4 [u]=4></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#oil%20of%20etherealness_dmg"
          text="Oil of Etherealness"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]=5 [a]=3 [p]=4 [g]=0 [u]=3></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#pale%20tincture_dmg"
          text="Pale Tincture (Ingested)"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]=0 [a]=10 [p]=3 [g]=0 [u]=2></app-alc></td>
    </tr>
  </table>

  <h2 id="journeyman">Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <table>
    <tr>
      <th>Tincture</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#oil%20of%20sharpness_dmg"
          text="Oil of Sharpness"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]=0 [a]=0 [p]=6 [g]=6 [u]=6></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#oil%20of%20taggit_dmg"
          text="Oil of Taggit (Contact)"
        ></app-hidden-link>
      </td>
      <td>Sleight of hands (DEX) + proficiency with kit</td>
      <td><app-alc [c]=6 [a]=10 [p]=2 [g]=0 [u]=0></app-alc></td>
    </tr>
  </table>

  <h2 id="master">Master</h2>
  <em>You become master at level 15</em>

  <table>
    <tr>
      <th>Tincture</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
  </table>
</main>
