<article>
  <h1>Weaver's Tools</h1>

  <ul>
    <li>
      <em>Arcana, History.</em> Your expertise allows you to add your
      proficiency in weaver's tools to get additional insight when examining
      cloth objects, including cloaks and robes.
    </li>
    <li>
      <em>Investigation.</em> Using your knowledge of the process of creating
      cloth objects, you can add your proficiency in weaver's tools to spot
      clues and make deductions that others would overlook when you examine
      tapestries, upholstery, clothing, and other woven items.
    </li>
    <li>
      <em>Repair.</em> As part of a short rest, you can repair a single damaged
      cloth object.
    </li>
  </ul>

  <h2>Weaver’s Tools Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with
    weaver’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Storyweave</h3>

  <p>Requires proficiency in weaver's tools.</p>
  <ul>
    <li><em>DC:</em> 10 Insight (WIS) + your proficiency in weaver's tools</li>
    <li><em>Time:</em> 10 minutes per word</li>
    <li><em>Ingredients:</em> a rope of any type</li>
  </ul>

  <p>
    You create a series of knots using ancient system passed down from
    generation to generation. Your message can be read by anyone with
    proficiency in weaver's tools.
  </p>

  <h3>Animus Cloaks</h3>

  <h4>Rat Cloak</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Animal Handling (WIS) + your proficiency in weaver's tools
    </li>
    <li><em>Time:</em> 12 hours</li>
    <li><em>Ingredients:</em> 2 sheeps worth of wool yarn.</li>
  </ul>

  <p>
    While wearing this cloak you can use your action to turn yourself into a rat
    once per day for up to 10 minutes. All normal polymorph rules apply. You can
    only use one animus cloak each day.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Animus Cloaks</h3>

  <h4>Weasel Cloak</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Animal Handling (WIS) + your proficiency in weaver's tools
    </li>
    <li><em>Time:</em> 24 hours</li>
    <li><em>Ingredients:</em> 2 sheeps worth of wool yarn.</li>
  </ul>

  <p>
    While wearing this cloak you can use your action to turn yourself into a
    giant weasel once per day for up to 20 minutes. All normal polymorph rules
    apply. You can only use one animus cloak each day.
  </p>

  <h3>Bags</h3>

  <h4>Bag of Holding</h4>

  <ul>
    <li><em>DC:</em> 18 Arcana (INT) + your proficiency in Weaver's tools</li>
    <li><em>Time:</em> 18 h</li>
    <li><em>Ingredients:</em> 1 sheep worth of wool yarn</li>
  </ul>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Animus Cloaks</h3>

  <h4>Black Bear Cloak</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Animal Handling (WIS) + your proficiency in weaver's tools
    </li>
    <li><em>Time:</em> 48 hours</li>
    <li><em>Ingredients:</em> 2 sheeps worth of wool yarn.</li>
  </ul>

  <p>
    While wearing this cloak you can use your action to turn yourself into a Black Bear
    once per day for up to 30 minutes. All normal polymorph rules apply. You can only
    use one animus cloak each day.
  </p>

  <h3>Bags</h3>

  <h4>Bag of Colding</h4>

  <ul>
    <li><em>DC:</em> 22 Arcana (INT) + your proficiency in Weaver's tools</li>
    <li><em>Time:</em> 24 h</li>
    <li><em>Ingredients:</em> 1 sheep worth of wool yarn</li>
  </ul>

  <p>
    Variant of bag of holding with freezing cold interior for better
    preservation.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Animus Cloaks</h3>

  <h4>Dire Wolf Cloak</h4>

  <ul>
    <li>
      <em>DC:</em> 26 Animal Handling (WIS) + your proficiency in weaver's tools
    </li>
    <li><em>Time:</em> 96 hours</li>
    <li><em>Ingredients:</em> 2 sheeps worth of wool yarn.</li>
  </ul>

  <p>
    While wearing this cloak you can use your action to turn yourself into a dire wolf
    once per day for up to 1 hour. All normal polymorph rules apply. You can only
    use one animus cloak each day.
  </p>
</article>
