<article>
  <h1>Explosives</h1>

  <h2>Rules</h2>

  <ul>
    <li>
      Explosives can be made using alchemist supplies, thieves tools and
      tinkerer's tools.
    </li>
    <li>
      Recipes provided are minimum components required. You can provide more
      than that.
    </li>
    <li>
      DC check is equal to components provided (It is harder to make explosive
      with undesired components).
    </li>
    <li>
      Brewing an explosive takes number of hours equal to the components
      provided (It is harder to make explosive with undesired components). You
      can pause the explosive making at any point but you can only be making one
      explosive per kit at once.
    </li>
    <li>If you have multiple kits you can work at 2 explosives at a time.</li>
    <li>
      If you fail the check all components are are destroyed. If you fail by 5
      or more vial is destroyed also and you suffer 1d8 fire damage.
    </li>
  </ul>

  <h2 id="novice">Novice</h2>

  <table>
    <tr>
      <th>Explosive</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#alchemist's%20fire%20(flask)_phb"
          text="Alchemist's Fire (flask)"
        ></app-hidden-link>
      </td>
      <td>Arcane (INT) + proficiency with kit</td>
      <td><app-alc [c]="4" [a]="0" [p]="4" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/variantrules.html#explosives_dmg"
          text="Bomb"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="2" [p]="3" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/variantrules.html#explosives_dmg"
          text="Gunpowder (horn)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="4" [a]="1" [p]="4" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#smoke%20grenade_dmg"
          text="Smoke grenade"
        ></app-hidden-link>
      </td>
      <td>Deception (CHA) + proficiency with kit</td>
      <td><app-alc [c]="1" [a]="3" [p]="1" [g]="0" [u]="3"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#explosive%20seed_egw"
          text="Explosive Seed"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="2" [a]="0" [p]="2" [g]="4" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#smokepowder_wdh"
          text="Smoke powder (pocket)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="2" [a]="2" [p]="2" [g]="1" [u]="1"></app-alc></td>
    </tr>
  </table>

  <h2 id="apprentice">Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <table>
    <tr>
      <th>Explosive</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/variantrules.html#explosives_dmg"
          text="Gunpowder (keg)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="2" [p]="5" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/variantrules.html#explosives_dmg"
          text="Dynamite"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td>
        <app-alc [c]="2" [a]="1" [p]="2" [g]="0" [u]="0"></app-alc> / stick
      </td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/variantrules.html#explosives_dmg"
          text="Blasting Powder"
        ></app-hidden-link>
      </td>
      <td>Sleight of hand (DEX) + proficiency with kit</td>
      <td>
        <app-alc [c]="2" [a]="0" [p]="2" [g]="0" [u]="1"></app-alc> / pouch
      </td>
    </tr>
  </table>

  <h2 id="journeyman">Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <table>
    <tr>
      <th>Explosive</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/variantrules.html#explosives_dmg"
          text="Fragmentation Grenade"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="2" [p]="6" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#smokepowder_wdh"
          text="Smoke powder (keg)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="5" [p]="5" [g]="2" [u]="1"></app-alc></td>
    </tr>
  </table>

  <h2 id="master">Master</h2>
  <em>You become master at level 15</em>

  <table>
    <tr>
      <th>Explosive</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
  </table>
</article>
