<article>
  <h1>Calligrapher's Supplies</h1>
  <ul>
    <li>
      <em>Arcana.</em> Although calligraphy is of little help in deciphering the
      content of magical writings, you can add your proficiency with these
      supplies to any check identifying who wrote a script of a magical nature.
    </li>
    <li>
      <em>History.</em> This tool proficiency allows you to add your bonus to
      any checks made to analyse or investigate ancient writings, scrolls, or
      other texts, including runes etched in stone or messages in frescoes or
      other displays.
    </li>
    <li>
      <em>Decipher Message.</em> You can add your proficiency in calligrapher's
      tools to any checks make to decipher coded messages or find hidden
      messages.
    </li>
  </ul>

  <h2>Calligrapher's Supplies Expert Feat</h2>
  <p>
    You increase your INT score by 1 and instantly gain proficiency with
    calligrapher's supplies.
  </p>

  <h2>Novice</h2>

  <h3>Pigments</h3>

  <p>
    You can create <a routerLink="../../references/pigments">pigments</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Charring</h3>

  <p>
    You can make DC 12 history check + your proficiency in calligrapher's tool
    to separate ingredient into
    <app-alc [c]="1" [a]="0" [p]="0" [g]="0" [u]="1"></app-alc> and
    <app-alc [c]="0" [a]="1" [p]="1" [g]="1" [u]="0"></app-alc>. On a failed
    save the ingredient is destroyed.
  </p>

  <h3>Inks</h3>

  <h4>Mage Ink</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Arcana (INT) + your proficiency in Calligrapher's Supplies
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> Any dark pigment</li>
  </ul>

  <p>
    Enough ink for creating level 1 spell scroll or storing 1 level of spell
    into a spell book. You still need to provide a paper of sufficient quality.
  </p>

  <h3>Marks</h3>

  <h4>Alarm Mark</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Perception (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 10 min</li>
    <li><em>Ingredients:</em> Any blue pigment</li>
  </ul>

  <p>
    You create two matching arcane marks no more than 20 ft (6 m) apart. If any
    creature passes between two marks they start glowing red and laudable alarm
    is sounded. Marks are then consumed. In the process of creating alarm marks
    you can name any number of creatures. Those creatures do not rise the alarm
    when passing.
  </p>

  <h4>Shouting letter</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Intimidation (CHA) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> Any dark pigment</li>
  </ul>

  <p>
    You create scrolled up piece of paper and store message of up to 25 words in
    it. When unrolled the paper screams your message at high volume that can be
    heard as far as 120 ft (40 m) away. Paper then ignites and consumes itself,
    dealing no damage to anything else.
  </p>

  <h4>Healing marks</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Medicine (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> white pigment</li>
  </ul>

  <p>
    You draw healing symbols on wounded creature. As the pigment dries creature
    regains 2d4 + 2 hit points.
  </p>

  <h4 id="emotional_letter">Emotional letter</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Persuasion (CHA) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> Any purple or red ink.</li>
  </ul>

  <p>
    You write an emotional letter (either for yourself or on the behalf of
    someone else that needs to be included into the process and present at
    creation. Letter stores true emotion the author is feeling at the moment of
    writing. Popular method for writing love letters and apologies.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Inks</h3>

  <h4 id="veritas">Veritas</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Insight (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> Any light pigment</li>
  </ul>

  <p>
    When writing with this ink, creature must succeed DC 16 WIS save. Creature
    can chose to fail. On failed safe creature can't write anything it would
    consider untrue. On a successful save ink turns into a dark version of its
    pigment upon drying up.
  </p>

  <h3>Marks</h3>

  <h4>Letter bomb</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Sleight of hand (DEX) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> Any Red pigment</li>
  </ul>

  <p>
    Creates scrolled up piece of paper that explodes once unrolled, dealing 1d6
    fire damage in a 5 ft radius. If there are any other exploding letters in
    the radius all of them are ignited and explode. Their radius is combined up
    to the maximum of 20 ft and their damage is combined up to the maximum of
    8d6.
  </p>

  <h4>Improved Healing Marks</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Medicine (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> white pigment</li>
  </ul>

  <p>
    You draw healing symbols on wounded creature. As the pigment dries creature
    regains 4d4 + 4 hit points.
  </p>

  <h4>Technical document</h4>

  <ul>
    <li><em>DC:</em> Equal to the DC of the recipe it is created for.</li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> Any pigment</li>
  </ul>

  <p>
    You create a scroll that can be activated to loudly describe all steps for a
    creation of chosen item from this crafting guide. Using this scroll while
    you craft lowers DC of the chosen recipe by 2.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Marks</h3>

  <h4>Greater Healing Marks</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Medicine (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> white pigment</li>
  </ul>

  <p>
    You draw healing symbols on wounded creature. As the pigment dries creature
    regains 8d4 + 8 hit points.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Marks</h3>

  <h4>Supreme Healing Marks</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Medicine (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 3 h</li>
    <li><em>Ingredients:</em> white pigment</li>
  </ul>

  <p>
    You draw healing symbols on wounded creature. As the pigment dries creature
    regains 10d4 + 20 hit points.
  </p>

  <h4>Ink portal</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Survival (WIS) + your proficiency in Calligrapher's
      Supplies
    </li>
    <li><em>Time:</em> 2 h</li>
    <li><em>Ingredients:</em> light blue pigment</li>
  </ul>

  <p>
    You use magic to drive a circular marks on any wall. when finished a portal
    that lasts 1 minute is opened to a place you have visited before. If portal
    is drawn in same place going to same destination of 14 consecutive days the
    portal remains opened until dispelled or the marks get erased.
  </p>
</article>
