@use 'global';

body {
    width: 100%;
    height: 100%;
    background-color: global.$background;
    color: global.$text;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

app-root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    position: absolute;
}

h1 {
    color: global.$title;
    clear: both;
    text-align: center;
    font-size: 2.5em;
    border-top: 2px solid global.$title;
    border-bottom: 2px solid global.$title;
}

h2 {
    color: global.$title;
    clear: both;
    text-align: left;
    font-size: 2em;
}

h3 {
    color: global.$title;
    clear: both;
    text-align: left;
    font-size: 1.5em;
    margin-left: 1em;
}

h4 {
    color: global.$title;
    clear: both;
    text-align: left;
    font-size: 1.2em;
    margin-left: 2em;
}

h5 {
    text-align: center;
    font-size: 1.3em;
}

ul {
    position: relative;
    text-align: justify;
    padding-left: 0px;
    margin-left: 2em;
}

table {
    margin-top: 1em;
    border: 1px solid global.$text;
    border-collapse: collapse;
    margin-left: 2em;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

th, td {
    border: 1px solid global.$text;
    border-collapse: collapse;
    padding: 15px;
}

a {
    text-decoration: underline;
    color: global.$title;
    text-align: center;
}

em {
    color: global.$title;
    font-style: normal;
    font-weight: bold;
}

section {
    max-width: 600px;
    float: left;
    margin: 1em;
    padding: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box {
    max-width: 600px;
    background-color: global.$hover;
    float: left;
    margin: 1em;
    padding: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
}

app-item {
    margin: 1em;
}