<article>
  <h1>Herbalism kit</h1>

  <ul>
    <li>
      <em>Arcana.</em> Your knowledge of the nature and uses of herbs allows you
      to add your proficiency in herbalism kit to your magical studies that deal
      with plants and your attempts to identify potions.
    </li>
    <li>
      <em>Investigation.</em> When you inspect an area overgrown with plants,
      you can add your proficiency in herbalism kit to pick out details and
      clues that others might miss.
    </li>
    <li>
      <em>Medicine.</em> Your mastery of herbalism allows you to add your
      proficiency in this kit to your ability to treat illnesses and wounds by
      augmenting your methods of care with medicinal plants.
    </li>
    <li>
      <em>Investigation.</em> When you examine objects, proficiency with a
      forgery kit allows you to add your bonus when determining how an object
      was made and whether it is genuine.
    </li>
    <li>
      <em>Nature and Survival.</em> When you travel in the wild, your can add
      your proficiency in herbalism kit to checks to spot sources of food that
      others might overlook.
    </li>
    <li>
      <em>Identify Plants.</em> You can identify most plants with a quick
      inspection of their appearance and smell.
    </li>
  </ul>

  <h2>Herbalism Kit Expert Feat</h2>
  <p>
    You increase your WIS score by 1 and instantly gain proficiency with
    herbalism kit.
  </p>

  <h2>Novice</h2>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="novice"
      >novice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create novice level potions. See
    <a routerLink="../../references/potions" fragment="novice">potions</a> for
    details.
  </p>

  <h3>Hot Drying</h3>

  <p>
    You can spend 1 hour carefully separating, cleaning and drying ingredient.
    Make DC 12 nature + your proficiency in herbalism kit. On successful check
    you separate ingredient into two, one part holding
    <app-alc [c]="0" [a]="0" [p]="1" [g]="1" [u]="0"></app-alc> components and
    the other holding the rest (<app-alc
      [c]="1"
      [a]="1"
      [p]="0"
      [g]="0"
      [u]="1"
    ></app-alc
    >). Ingredient is destroyed on failure.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="apprentice"
      >apprentice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create apprentice level potions. See
    <a routerLink="../../references/potions" fragment="apprentice">potions</a>
    for details.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="journeyman"
      >journeyman level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create journeyman level potions. See
    <a routerLink="../../references/potions" routerLink="journeyman">potions</a>
    for details.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master"
      >master level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Potion Making</h3>

  <p>
    You can create master level potions. See
    <a routerLink="../../references/potions" fragment="master">potions</a> for details.
  </p>

  <h2>Scavenging</h2>

  <ul>
    <li>
      You can spend one hour searching in the area. No more than two party
      members can search same area for herbalism ingredients in 24 hours.
    </li>
    <li>
      You can scavenge while travelling. If you do that you get to make a throw
      every 4 hours of travel. You are travelling at half the speed while
      scavenging. Again only two party members can scavenge for herbalism
      ingredients at the same time.
    </li>
    <li>
      If you exceed DC for the area for more than 5 you can roll on the table
      twice.
    </li>
  </ul>

  <h3>Nadir</h3>

  <h4 id="nadir_nine_rivers">Nadir Nine Rivers</h4>

  <p><em>DC:</em> 10 survival + Your proficiency in herbalism kit</p>

  <table>
    <tr>
      <th>D12</th>
      <th>Find</th>
      <th>Components</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td><a routerLink="../../ingredients/plants" fragment="blade_grass">Blade Grass</a></td>
      <td><app-alc [c]="0" [a]="4" [p]="0" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="corpse_flower">Corpse Flower</a>
      </td>
      <td><app-alc [c]="0" [a]="2" [p]="3" [g]="0" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td><a routerLink="../../ingredients/plants" fragment="fleshshiver">Fleshshiver</a></td>
      <td><app-alc [c]="2" [a]="2" [p]="0" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td><a routerLink="../../ingredients/plants" fragment="kieros">Kieros</a></td>
      <td><app-alc [c]="0" [a]="1" [p]="2" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td><a routerLink="../../ingredients/plants" fragment="limb_plant">Limb Plant</a></td>
      <td><app-alc [c]="2" [a]="0" [p]="1" [g]="2" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td><a routerLink="../../ingredients/plants" fragment="masthin">Masthin</a></td>
      <td><app-alc [c]="0" [a]="1" [p]="0" [g]="2" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td><a routerLink="../../ingredients/plants" fragment="musk_muddle">Musk Muddle</a></td>
      <td><app-alc [c]="3" [a]="2" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="pitcher_plant">Pitcher Plant</a>
      </td>
      <td><app-alc [c]="0" [a]="3" [p]="0" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td><a routerLink="../../ingredients/plants" fragment="rafflesia">Rafflesia</a></td>
      <td><app-alc [c]="2" [a]="1" [p]="0" [g]="1" [u]="4"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td><a routerLink="../../ingredients/plants" fragment="sezarad">Sezarad</a></td>
      <td><app-alc [c]="0" [a]="0" [p]="2" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="baited_breath">Baited Breath</a>
      </td>
      <td><app-alc [c]="0" [a]="0" [p]="2" [g]="3" [u]="4"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="giant_nadir_fern">Giant Nadir Fern</a>
      </td>
      <td><app-alc [c]="2" [a]="3" [p]="1" [g]="4" [u]="0"></app-alc></td>
      <td></td>
    </tr>
  </table>

  <h4 id="prehistoric_aquatic">Prehistoric Aquatic</h4>

  <p>
    <em>DC:</em> 15 survival + Your proficiency in herbalism kit with swim
    speed, 20 otherwise
  </p>

  <table>
    <tr>
      <th>D12</th>
      <th>Find</th>
      <th>Components</th>
      <th>Notes</th>
    </tr>
    <tr>
      <td>1</td>
      <td><a routerLink="../../ingredients/plants" fragment="bladderwort">Bladderwort</a></td>
      <td><app-alc [c]="2" [a]="1" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td><a routerLink="../../ingredients/plants" fragment="blade_grass">Blade Grass</a></td>
      <td><app-alc [c]="0" [a]="4" [p]="0" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td><a routerLink="../../ingredients/plants" fragment="duck_weed">Duck Weed</a></td>
      <td><app-alc [c]="0" [a]="0" [p]="3" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td><a routerLink="../../ingredients/plants" fragment="eelgrass">Eelgrass</a></td>
      <td><app-alc [c]="1" [a]="2" [p]="0" [g]="1" [u]="2"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td><a routerLink="../../ingredients/plants" fragment="green_algae">Green Algae</a></td>
      <td><app-alc [c]="2" [a]="0" [p]="2" [g]="1" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td><a routerLink="../../ingredients/plants" fragment="krakens_eye">Kraken's Eye</a></td>
      <td><app-alc [c]="3" [a]="2" [p]="1" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td><a routerLink="../../ingredients/plants" fragment="merfolk_gils">Merfolk Gills</a></td>
      <td><app-alc [c]="3" [a]="1" [p]="2" [g]="1" [u]="0"></app-alc></td>
      <td>Consumed fresh grants 1 hour of water breathing.</td>
    </tr>
    <tr>
      <td>8</td>
      <td><a routerLink="../../ingredients/plants" fragment="nahre_lotus">Nahre Lotus</a></td>
      <td><app-alc [c]="0" [a]="2" [p]="1" [g]="0" [u]="1"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="poisonous_algae">Poisonous Algae</a>
      </td>
      <td><app-alc [c]="2" [a]="4" [p]="4" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td><a routerLink="../../ingredients/plants" fragment="red_bloom">Red Bloom</a></td>
      <td><app-alc [c]="3" [a]="0" [p]="4" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td><a routerLink="../../ingredients/plants" fragment="xiatle_slime">Xiatle Slime</a></td>
      <td><app-alc [c]="1" [a]="0" [p]="4" [g]="0" [u]="0"></app-alc></td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>
        <a routerLink="../../ingredients/plants" fragment="wild_river_lilly">Wild River Lilly</a>
      </td>
      <td>
        <ul>
          <li>
            <em>Seed:</em>
            <app-alc [c]="3" [a]="1" [p]="3" [g]="2" [u]="0"></app-alc>
          </li>
          <li>
            <em>Flower:</em>
            <app-alc [c]="3" [a]="2" [p]="3" [g]="1" [u]="3"></app-alc>
          </li>
          <li>
            <em>Roots:</em>
            <app-alc [c]="3" [a]="1" [p]="0" [g]="2" [u]="3"></app-alc>
          </li>
          <li>
            <em>Leaves:</em>
            <app-alc [c]="3" [a]="1" [p]="1" [g]="5" [u]="1"></app-alc>
          </li>
        </ul>
      </td>
      <td>Roll 1d4 to see what parts you find.</td>
    </tr>
  </table>
</article>
