<article>
  <h1>Carpenter's Tools</h1>

  <ul>
    <li>
      <em>History.</em> This tool proficiency allows you to add your bonus when
      identifying the use and the origin of wooden buildings and other large
      wooden objects.
    </li>
    <li>
      <em>Investigation.</em> You can add your proficiency with carpenter's
      tools when inspecting areas within wooden structures, because you know
      tricks of construction that can conceal areas from discovery.
    </li>
    <li>
      <em>Perception.</em> You can spot irregularities in wooden walls or
      floors, making it easier to find trap doors and secret passages. You add
      your proficiency in carpenter's tools when searching for those.
    </li>
    <li>
      <em>Stealth.</em> You can quickly assess the weak spots in a wooden floor,
      making it easier to avoid the places that creak and groan when they're
      stepped on. You can add your proficiency in carpenter's tools when
      sneaking over wooden surfaces.
    </li>
    <li>
      <em>Fortify.</em> With 1 minute of work and raw materials, you can make a
      door or window harder to force open. Increase the DC needed to open it by
      5.
    </li>
    <li>
      <em>Temporary Shelter.</em> As part of a long rest, you can construct a
      lean-to or a similar shelter to keep your group dry and in the shade for
      the duration of the rest. Because it was fashioned quickly from whatever
      wood was available , the shelter collapses 1d4 days after being assembled.
    </li>
  </ul>

  <h2>Carpenter’s tools Expert Feat</h2>
  <p>
    You increase your STR score by 1 and instantly gain proficiency with
    carpenter’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Toys</h3>

  <h4>Wooden Doll</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Athletics (STR)13 Sleight of hand (DEX) + your proficiency
      in carpenter’s tools
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> Sufficient amounts of wood</li>
  </ul>

  <p>Small wooden doll all children (but especially girls) love.</p>

  <h4>Wooden Soldier</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Athletics (STR)13 Sleight of hand (DEX) + your proficiency
      in carpenter’s tools
    </li>
    <li><em>Time:</em> 30 min</li>
    <li><em>Ingredients:</em> Sufficient amounts of wood</li>
  </ul>

  <p>Small wooden soldier all children (but especially boys) love.</p>

  <h3>Containers</h3>

  <h4>Small Barrel</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 3 h</li>
    <li>
      <em>Ingredients:</em> 1 gold worth of fittings and nails, sufficient
      amounts of wood
    </li>
  </ul>

  <p>A barrel that can hold up to 10 gallons (45 litres) of liquid</p>

  <h4>Small chest</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 3 h</li>
    <li>
      <em>Ingredients:</em> 1 gold worth of fittings and nails, sufficient
      amounts of wood
    </li>
  </ul>

  <p>Small chest 1 feet in each direction.</p>

  <h4>Barrel</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 5 h</li>
    <li>
      <em>Ingredients:</em> 2 gold worth of fittings and nails, sufficient
      amounts of wood
    </li>
  </ul>

  <p>A barrel that can hold up to 20 gallons (90 litres) of liquid</p>

  <h4>Chest</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 5 h</li>
    <li>
      <em>Ingredients:</em> 2 gold worth of fittings and nails, sufficient
      amounts of wood
    </li>
  </ul>

  <p>A chest 3 feet long, 2 feet high and 2 feet deep.</p>

  <h3>Vessels</h3>

  <h4 id="canoe">Canoe</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 10 min / 1 ft</li>
    <li><em>Ingredients:</em> A trunk of a tree of suitable length.</li>
  </ul>

  <p>
    A canoe can transport 1 tiny creature with belongings for every 1 ft of
    length, 1 small creature for every 2 ft and medium creature for every 4 ft.
    Creatures large or larger cannot be transported by a regular canoe.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Religious</h3>

  <h4>Large Barrel</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 7 h</li>
    <li>
      <em>Ingredients:</em> 4 gold worth of fittings and nails, sufficient
      amounts of wood
    </li>
  </ul>

  <p>A barrel that can hold up to 100 gallons (454 litres) of liquid</p>

  <h3>Containers</h3>

  <h4>Religious statuette</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Religion (INT) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 1 h</li>
    <li><em>Ingredients:</em> sufficient amounts of wood</li>
  </ul>

  <p>
    A recognizable statuette of a god you know about, carved into wood. Praying
    at the statuette assures the deity can hear you even in the places outside
    the deities domain.
  </p>

  <h4>Large chest</h4>

  <ul>
    <li>
      <em>DC:</em> 14 Athletics (STR) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 7 h</li>
    <li>
      <em>Ingredients:</em> 3 gold worth of fittings and nails, sufficient
      amounts of wood
    </li>
  </ul>

  <p>A chest 5 feet long, 3 feet high and 3 feet deep.</p>

  <h3>Extra Dimensional Space</h3>

  <h4>Expansion</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Arcana (INT) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li><em>Ingredients:</em> A container</li>
  </ul>

  <p>
    You enchant an existing container with an enchantment that expands its
    interior by a factor of 2 in every dimension. It doesn't change the weight
    of items stored inside in any way.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Religious</h3>

  <h4>Transportable shrine</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Arcana (INT) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> Sufficient amounts of wood, 1 gold worth of nails
      and fittings
    </li>
  </ul>

  <p>
    A shrine piece that holds a statuette and small wooden brazier as well as
    some room for incense. It takes about 5 minutes to pack and unpack. Grants
    benefits similar to a small temple dedicated to the deity.
  </p>

  <h3>Toys</h3>

  <h4>Wooden horse</h4>

  <ul>
    <li>
      <em>DC:</em> 15 Sleight of hand (DEX) + your proficiency in carpenter’s
      tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> Sufficient amounts of wood</li>
  </ul>

  <p>
    Wooden horse toy kids can sit on. It swings. Favorite toy of many well off
    children.
  </p>

  <h3>Extra Dimensional Space</h3>

  <h4>Expansion</h4>

  <ul>
    <li>
      <em>DC:</em> 19 Arcana (INT) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 12 h</li>
    <li><em>Ingredients:</em> A container</li>
  </ul>

  <p>
    You enchant an existing container with an enchantment that expands its
    interior by a factor of 3 in every dimension. It doesn't change the weight
    of items stored inside in any way.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Toys</h3>

  <h4>Kitchen set</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Sleight of hand (DEX) + your proficiency in carpenter’s
      tools
    </li>
    <li><em>Time:</em> 24 h</li>
    <li>
      <em>Ingredients:</em> Sufficient amounts of wood, 4 gold pieces worth of
      nails and fittings
    </li>
  </ul>

  <p>
    Intricate small kitchen model with a lot of details and different kinds of
    wood. Comes with little replicas of pots, pans, and serving set. Usually
    found in playrooms of upper nobility.
  </p>

  <h4>Knight set</h4>

  <ul>
    <li>
      <em>DC:</em> 20 Sleight of hand (DEX) + your proficiency in carpenter’s
      tools
    </li>
    <li><em>Time:</em> 24 h</li>
    <li>
      <em>Ingredients:</em> Sufficient amounts of wood, 4 gold pieces worth of
      nails and fittings
    </li>
  </ul>

  <p>
    Horse on wheels, light wooden armour mock up, wooden weapons and shield with
    heraldic symbol. A pole with the flag is attached to the horse. Usually
    found in playrooms of upper nobility.
  </p>

  <h3>Extra Dimensional Space</h3>

  <h4>Expansion</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Arcana (INT) + your proficiency in carpenter’s tools
    </li>
    <li><em>Time:</em> 16 h</li>
    <li><em>Ingredients:</em> A container</li>
  </ul>

  <p>
    You enchant an existing container with an enchantment that expands its
    interior by a factor of 4 in every dimension. It doesn't change the weight
    of items stored inside in any way.
  </p>
</article>
