<article>
    <h1>Scavenging</h1>

    <h2>Scavenging</h2>

    <ul>
      <li>You can spend one hour searching in the area. No more than two party members can search same area for same
        thing in 24 hours.</li>
      <li>You can scavenge while travelling. If you do that you get to make a throw every 4 hours of travel. You are
        travelling at half the speed while scavenging. Again only two party members can scavenge for same thing at the
        same time.</li>
      <li>If you exceed DC for the area for more than 5 you can roll on the table twice.
      </li>
    </ul>
    <h3>Nadir</h3>

    <h4>Prehistoric Tropical</h4>

    <em>Water</em>

    <p><em>DC:</em> 14 survival to find 1 gallon (4.5 l) when not near body of water</p>

    <em>Wood</em>

    <p>Unlimited</p>

    <em>Food</em>

    <p><em>DC:</em> 13 survival</p>

    <table>
      <tr>
        <th>D6</th>
        <th>Find</th>
        <th>Portions</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Baited Breath Buds</td>
        <td>1d4 - 1 (min 1)</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Blade Grass Roots</td>
        <td>1d6</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Fleshshiver caps</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Kieros Leaves</td>
        <td>Seasoning for 1d6 meals</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Limb Plant Berries</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Sezarad Root</td>
        <td>Seasoning for 1d4 meals.</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Blue Tongue Lizard eggs</td>
        <td>1d4 - 1 (min 1)</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>Cooked Orange Slugs</td>
        <td>1d4 - 1 (min 1)</td>
        <td></td>
      </tr>
    </table>

    <h4>Prehistoric Temperate</h4>

    <em>Water</em>

    <p><em>DC:</em> 16 survival to find 1 gallon (4.5 l) when not near body of water</p>

    <em>Wood</em>

    <p>Unlimited</p>

    <em>Food</em>

    <p><em>DC:</em> 16 survival</p>

    <table>
      <tr>
        <th>D6</th>
        <th>Find</th>
        <th>Portions</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Beetle Flower Fruit</td>
        <td>1d4 - 1 (min 1)</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Baited Breath Buds</td>
        <td>1d4 - 1 (min 1)</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Cotsbalm Flesh</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Reddish False Morel</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Goblin Rogue Berries</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Limb Plant Berries</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Sezarad Root</td>
        <td>Seasoning for 1d4 meals.</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>Screaming knot wine Leaves</td>
        <td>1 gallon (4.5 liters) of tea</td>
        <td></td>
      </tr>
    </table>

    <h4>Prehistoric Arctic</h4>

    <em>Water</em>

    <p>Unlimited but frozen.</p>

    <em>Wood</em>

    <p><em>DC:</em> 16 survival</p>

    <em>Food</em>

    <p><em>DC:</em> 22 survival</p>

    <table>
      <tr>
        <th>D6</th>
        <th>Find</th>
        <th>Portions</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Cassil leaves</td>
        <td>1d4-1 (min 1)</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Darkberry fruit</td>
        <td>1d4+1</td>
        <td>DC 10 CON save to be able to eat the meal with darkberry fruit (extremely bitter)</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Fesul bark</td>
        <td>Seasoning for 1d8 meals</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Blue Lichen Tea</td>
        <td>Enough for 0.5 gallons (2 liters) of tea.</td>
        <td>Tea prevents you from suffering effects of cold environment for 0.5 hours if you drink at least 0.5 liters
          of it.</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Ice Lotus Root</td>
        <td>1d4</td>
        <td>DC 12 Athletics check to pull out.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Blue Moss Cake</td>
        <td>1d6 meals</td>
        <td>If eaten 2 days in a row, DC 10 CON save or poisoned until you eat something else.</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Screaming knot wine Leaves</td>
        <td>1 gallon (4.5 liters) of tea</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>Silver torch tea</td>
        <td>0.5 gallon (2 liters) of tea</td>
        <td></td>
      </tr>
    </table>

    <h4>Prehistoric Aquatic</h4>

    <em>Water</em>

    <p>Unlimited</p>

    <em>Wood</em>

    <p><em>DC:</em> 20 survival and it is wet.</p>

    <em>Food</em>

    <p><em>DC:</em> 15 survival</p>
    <table>
      <tr>
        <th>D6</th>
        <th>Find</th>
        <th>Portions</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Blade Grass Roots</td>
        <td>1d6</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Dried Duck Weed</td>
        <td>1d6</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Green Algae Leaves</td>
        <td>1d6</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Merfolk Gills Leaves</td>
        <td>1</td>
        <td>Grants water breathing for 1 hour if eaten within 24 h</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Xiatle Slime Seeds</td>
        <td>1d4 - 1 (min 1)</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Wild River Walleye</td>
        <td>1d4</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>Yellow Pumpkinseed</td>
        <td>1d6</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>Long Nosed Gar</td>
        <td>1d6</td>
        <td></td>
      </tr>
    </table>

</article>