<article>
  <h1>Cobbler's Tools</h1>

  <ul>
    <li>
      <em>Arcana, History.</em> Your knowledge of shoes allows you to add your
      proficiency bonus when identifying the magical properties of enchanted
      boots or the history of such items.
    </li>
    <li>
      <em>Investigation.</em> Footwear holds a surprising number of secrets. You
      can learn where someone has recently visited by examining the wear and the
      dirt that has accumulated on their shoes. Your experience in repairing
      shoes makes it easier for you to identify where damage might come from.
      You can add your proficiency in cobbler's tools to any investigation of
      shoes.
    </li>
    <li>
      <em>Maintain Shoes.</em> As part of a long rest, you can repair your
      companions' shoes. For the next 24 hours, up to six creatures of your
      choice who wear shoes you worked on can travel up to 10 hours a day
      without making saving throws to avoid exhaustion.
    </li>
  </ul>

  <h2>Cobbler’s Tools Expert Feat</h2>
  <p>
    You increase your CON score by 1 and instantly gain proficiency with
    cobbler’s tools.
  </p>

  <h2>Novice</h2>

  <h3>Boots Modification</h3>

  <h4>Hidden Compartment</h4>

  <ul>
    <li>
      <em>DC:</em> 10 Sleight of Hands (DEX) + your proficiency in cobbler’s
      tools
    </li>
    <li><em>Time:</em> 4 h</li>
    <li><em>Ingredients:</em> Shoes or boots</li>
  </ul>

  <p>
    The compartment can hold an object up to 3 inches long and 1 inch wide and
    deep. It takes DC 15 investigation check on boots to find it.
  </p>

  <h3>Boots</h3>

  <h4>Boots of False Tracks</h4>

  <ul>
    <li><em>DC:</em> 14 nature (WIS) + your proficiency in cobbler’s tools</li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger
    </li>
  </ul>

  <p>
    When creating these boots chose a medium creature with feet. While wearing
    these shoes you leave tracks that look like those of a chosen beast and it
    takes DC 18 Survival (WIS) check to know the difference.
  </p>

  <h4>Boots of Snow Walking</h4>

  <ul>
    <li>
      <em>DC:</em> 12 athletics (STR) + your proficiency in cobbler’s tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger,
      small amounts of wood.
    </li>
  </ul>

  <p>
    Snow, even deep one isn't difficult terrain for you when you wear these
    boots.
  </p>

  <h4>Long Distance Shoes</h4>

  <ul>
    <li>
      <em>DC:</em> 12 survival (WIS) + your proficiency in cobbler’s tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger.
    </li>
  </ul>

  <p>
    On each day you can walk for one more hour without requiring constitution
    saving throw.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Boots</h3>

  <h4>Boots of Light Feet</h4>

  <ul>
    <li>
      <em>DC:</em> 16 acrobatics (DEX) + your proficiency in cobbler’s tools
    </li>
    <li><em>Time:</em> 8 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger, 2
      feathers from a bird of prey.
    </li>
  </ul>

  <h4>Ice Skates</h4>

  <ul>
    <li><em>DC:</em> 15 Nature (INT) + your proficiency in cobbler’s tools</li>
    <li><em>Time:</em> 9 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger,
      small metal blade.
    </li>
  </ul>

  <p>
    Your movement speed on ice is doubled but you lose 10 ft of movement when
    not on ice.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h4>Boots of Water walking</h4>

  <ul>
    <li><em>DC:</em> 15 Nature (INT) + your proficiency in cobbler’s tools</li>
    <li><em>Time:</em> 10 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger.
    </li>
  </ul>

  <p>You can walk on top of liquids as if they were solid ground.</p>

  <h4>Boots of Spider climb</h4>

  <ul>
    <li>
      <em>DC:</em> 16 Survival (WIS) + your proficiency in cobbler’s tools
    </li>
    <li><em>Time:</em> 10 h</li>
    <li><em>Ingredients:</em> Treated leather from a small small or larger.</li>
  </ul>

  <p>
    You can walk on walls and ceilings as if you were under effect of spider
    climb spell.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h4>Angelic Boots of Flying</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Religion (INT) + your proficiency in cobbler’s tools
    </li>
    <li><em>Time:</em> 25 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger, 2
      angelic feathers.
    </li>
  </ul>

  <p>You get flying speed equal to your walking speed.</p>

  <h4>Boots of the Archfey</h4>

  <ul>
    <li><em>DC:</em> 23 arcana (INT) + your proficiency in cobbler’s tools</li>
    <li><em>Time:</em> 22 h</li>
    <li>
      <em>Ingredients:</em> Treated leather from a small creature or larger, 4
      leaves from evergreen trees that grow in Faerie.
    </li>
  </ul>

  <p>
    Up to 3 times a day you can use up to 30 ft of your movement speed to
    teleport the same distance to a place you can see or know is unoccupied.
  </p>
</article>
