<article>
  <h1>Article' Tools</h1>

  <ul>
    <li>
      <em>History.</em> Your knowledge of traps allows you to add your
      proficiency in thieves' tools you insight when answering questions a bout
      locations that are renowned for their traps.
    </li>
    <li>
      <em>Investigation, Perception.</em> You can add your proficiency in
      thieves' tools to get additional insight when looking for traps, because
      you have learned a variety of common signs that be tray their presence.
    </li>
  </ul>

  <h2>Thieves' Tools Expert Feat</h2>
  <p>
    You increase your DEX score by 1 and instantly gain proficiency with
    thieves' tools.
  </p>

  <h2>Novice</h2>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="novice">novice level tinctures</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="novice">novice level explosives</a> out
    of ingredients you find on your journeys.
  </p>

  <h3>Chemical Separation</h3>

  <p>
    You can make DC 12 sleight of hand check + your proficiency in thieves'
    tools to separate ingredient into
    <app-alc [c]="0" [a]="1" [p]="0" [g]="0" [u]="1"></app-alc> and
    <app-alc [c]="1" [a]="0" [p]="1" [g]="1" [u]="0"></app-alc>. On a failed
    save the ingredient is destroyed.
  </p>

  <h3>Traps</h3>

  <h4>Nose trap</h4>

  <ul>
    <li>
      <em>DC:</em> 12 Sleight of Hands (DEX) + your proficiency in thieves'
      tools
    </li>
    <li><em>Time:</em>10 min</li>
    <li><em>Ingredients:</em> 30 ft of rope</li>
  </ul>

  <p>
    This trap must be placed next to a tree, a tall building, a cliff or similar
    tall structure. DC 14 Investigation or Perception check to find. Creature
    that steps onto the trap must make DC 14 DEX save or be flung into the air.
    While trapped, the creature is restrained. A creature can use its action to
    attempt DC 14 DEX or STR saving throw to free itself from the trap. This
    trap has no effect on creatures huge or larger.
  </p>

  <h4>Falling net</h4>

  <ul>
    <li>
      <em>DC:</em> 13 Sleight of Hands (DEX) + your proficiency in thieves'
      tools
    </li>
    <li><em>Time:</em>10 min</li>
    <li><em>Ingredients:</em> 10 ft of rope, a fishing net</li>
  </ul>

  <p>This trap uses a trip wire to release a net suspended from the ceiling.</p>

  <p>
    The trip wire is 3 inches off the ground and stretches between two columns
    or trees. The net is hidden by cobwebs or foliage. The DC to spot the trip
    wire and net is 10. A successful DC 15 Dexterity check using thieves’ tools
    breaks the trip wire harmlessly. A character without thieves’ tools can
    attempt this check with disadvantage using any edged weapon or edged tool.
    On a failed check, the trap triggers.
  </p>

  <p>
    When the trap is triggered, the net is released, covering a 10-foot-square
    area. Those in the area are trapped under the net and Restrained, and those
    that fail a DC 10 Strength saving throw are also knocked prone. A creature
    can use its action to make a DC 10 Strength check, freeing itself or another
    creature within its reach on a success. The net has AC 10 and 20 Hit Points.
    Dealing 5 slashing damage to the net (AC 10) destroys a 5-foot-square
    section of it, freeing any creature trapped in that section.
  </p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="apprentice"
      >apprentice level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="apprentice"
      >apprentice level explosives</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Traps</h3>

  <h4>Bear trap</h4>

  <ul>
    <li>
      <em>DC:</em> 18 Athletics (STR) + your proficiency in thieves' tools
    </li>
    <li><em>Time:</em>3 h</li>
    <li><em>Ingredients:</em> 1 spring, 2 metal ingots</li>
  </ul>

  <p>
    DC 17 Investigation or Perception to find. When activated the creature must
    make a DC 16 DEX save or it takes 2d6 piercing damage and is restrained. A
    creature can use its action to attempt DC 16 STR saving throw to free itself
    from the trap. Injury poisons can be used in combination with this trap. It
    takes 10 minutes to reset this trap after it was used.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="journeyman"
      >journeyman level tinctures</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="journeyman"
      >journeyman level explosives</a
    >
    out of ingredients you find on your journeys.
  </p>

  <h3>Traps</h3>

  <h4>Fire-Breathing Statue</h4>

  <ul>
    <li><em>DC:</em> 22 Arcana (STR) + your proficiency in thieves' tools</li>
    <li><em>Time:</em>7 h</li>
    <li><em>Ingredients:</em> A statue, 8 chaos, 2 order</li>
  </ul>

  <p>
    This trap is activated when an intruder steps on a hidden pressure plate,
    releasing a magical gout of flame from a nearby statue. The statue can be of
    anything, including a Dragon or a Wizard Casting a Spell.
  </p>

  <p>
    The DC is 15 to spot the pressure plate, as well as faint scorch marks on
    the floor and walls. A spell or other Effect that can sense the presence of
    magic, such as Detect Magic, reveals an aura of Evocation magic around the
    statue.
  </p>

  <p>
    The trap activates when more than 20 pounds of weight is placed on the
    pressure plate, causing the statue to release a 30-foot cone of fire. Each
    creature in the fire must make a DC 13 Dexterity saving throw, taking 22
    (4d10) fire damage on a failed save, or half as much damage on a successful
    one.
  </p>

  <p>
    Wedging an iron spike or other object under the pressure plate prevents the
    trap from activating. A successful Dispel Magic (DC 13) cast on the statue
    destroys the trap.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Tinctures</h3>

  <p>
    You can create
    <a routerLink="../../references/tinctures" fragment="master">master level tinctures</a> out of
    ingredients you find on your journeys.
  </p>

  <h3>Explosives</h3>

  <p>
    You can create
    <a routerLink="../../references/explosives" fragment="master">master level explosives</a> out
    of ingredients you find on your journeys.
  </p>

  <h3>Traps</h3>

  <h4>Annihilator Rune</h4>

  <ul>
    <li><em>DC:</em> 28 Arcana (INT) + your proficiency in thieves' tools</li>
    <li><em>Time:</em>12 h</li>
    <li><em>Ingredients:</em> 14 death, 14 chaos</li>
  </ul>

  <p>
    DC 24 Investigation or DC 28 Perception to find. Stepping on a small black
    rune causes a a sucking reverse explosion to be released. A creatures in 20
    ft radius must succeed a DC 18 STR save or they are thrown 10 ft towards the
    centre of explosion, knocked prone and take 4d10 force damage. Creatures
    take half that much on a success and are not thrown. Creatures hitting the
    centre of the sucking explosion take another 2d10 damage and are annihilated
    if their hit points reach 0. All non magical items and materials ina a 10 ft
    radius are also annihilated.
  </p>
</article>
