<main>
  <h1>Potions</h1>

  <h2>Rules</h2>

  <ul>
    <li>
      Potions can be created using alchemist supplies, herbalism kit, poisoner's
      kit or healer's kit. You do not need to be proficient but it helps.
    </li>
    <li>You need to provide glass vial for each potion that you make.</li>
    <li>
      Recipes provided are minimum components required. You can provide more
      than that.
    </li>
    <li>
      DC check is equal to components provided (It is harder to make potion with
      undesired components).
    </li>
    <li>
      Brewing a potion takes number of hours equal to the components provided
      (It is harder to make potion with undesired components). You can pause the
      potion making at any point but you can only be making one potions per kit
      at once.
    </li>
    <li>If you have multiple kits you can work at 2 potions at a time.</li>
    <li>
      If you fail the check all components are are destroyed. If you fail by 5
      or more vial is destroyed also.
    </li>
  </ul>

  <h2 id="novice">Novice</h2>

  <table>
    <tr>
      <th>Potion</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20climbing_dmg"
          text="Potion of Climbing"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="0" [p]="0" [g]="2" [u]="3"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20comprehension_wdmm"
          text="Potion of Comprehension"
        ></app-hidden-link>
      </td>
      <td>Performance (CHA) + proficiency with kit</td>
      <td><app-alc [c]="4" [a]="0" [p]="0" [g]="0" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20healing_dmg"
          text="Potion of Healing"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="4" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20watchful%20rest_wdmm"
          text="Potion of Watchful Rest"
        ></app-hidden-link>
      </td>
      <td>Perception (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="2" [p]="0" [g]="2" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#assassin's%20blood_dmg"
          text="Assassin's Blood (Ingested)"
        ></app-hidden-link>
      </td>
      <td>Deception (CHA) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="4" [p]="2" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#dreamlily_erlw"
          text="Dreamlily"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="3" [p]="0" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#basic%20poison%20(vial)_phb"
          text="Poison, Basic (injury)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="4" [p]="2" [g]="2" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#antitoxin%20(vial)_phb"
          text="Antitoxin"
        ></app-hidden-link>
      </td>
      <td>Medicine (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="2" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#blood%20of%20the%20lycanthrope%20antidote_imr"
          text="Blood of the Lycanthrope Antidote"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="3" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#mummy%20rot%20antidote_imr"
          text="Mummy Rot Antidote"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="4" [u]="5"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#bottled%20breath_pota"
          text="Bottled Breath"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="0" [p]="4" [g]="0" [u]="3"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#philter%20of%20love_dmg"
          text="Philter of Love"
        ></app-hidden-link>
      </td>
      <td>Insight (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="2" [p]="7" [g]="1" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20animal%20friendship_dmg"
          text="Potion of Animal Friendship"
        ></app-hidden-link>
      </td>
      <td>Animal handling (WIS) + proficiency with kit</td>
      <td><app-alc [c]="4" [a]="2" [p]="0" [g]="0" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20fire%20breath_dmg"
          text="Potion of Fire Breath"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="0" [p]="5" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20hill%20giant%20strength_dmg"
          text="Potion of Hill Giant Strength"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="5" [g]="0" [u]="5"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20growth_dmg"
          text="Potion of Growth"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="0" [p]="0" [g]="5" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20greater%20healing_dmg"
          text="Potion of Greater Healing"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="5" [u]="5"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20poison_dmg"
          text="Potion of Poison"
        ></app-hidden-link>
      </td>
      <td>Deception (CHA) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="5" [p]="2" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20resistance_dmg"
          text="Potion of Resistance"
        ></app-hidden-link>
      </td>
      <td>Acrobatics (DEX) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="2" [p]="0" [g]="2" [u]="3"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20water%20breathing_dmg"
          text="Potion of Water Breathing"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="4" [a]="0" [p]="0" [g]="3" [u]="3"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#thessaltoxin%20antidote_imr"
          text="Thessaltoxin Antidote"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="3" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#blood%20of%20the%20lycanthrope_imr"
          text="Blood of the Lycanthrope (Injury)"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]="2" [a]="4" [p]="2" [g]="2" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#dust%20of%20the%20mummy_imr"
          text="Dust of the Mummy (Inhaled)"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]="2" [a]="6" [p]="1" [g]="1" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#thessaltoxin_imr"
          text="Thessaltoxin"
        ></app-hidden-link>
      </td>
      <td>Performance (CHA) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="8" [g]="2" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#truth%20serum_dmg"
          text="Truth Serum (Ingested)"
        ></app-hidden-link>
      </td>
      <td>Insight (WIS) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="3" [p]="0" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#acid%20(vial)_phb"
          text="Acid"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="5" [p]="5" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <a href="#bottled_darkness">Bottled Darkness</a>
      </td>
      <td>Perception (WIS) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="5" [p]="0" [g]="0" [u]="0"></app-alc></td>
    </tr>
  </table>

  <h2 id="apprentice">Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <table>
    <tr>
      <th>Potion</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20aqueous%20form_mot"
          text="Potion of Aqueous Form"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="8" [a]="0" [p]="0" [g]="4" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20diminution_dmg"
          text="Potion of Diminution"
        ></app-hidden-link>
      </td>
      <td>Sleight of Hand (DEX) + proficiency with kit</td>
      <td><app-alc [c]="10" [a]="0" [p]="0" [g]="2" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20superior%20healing_dmg"
          text="Potion of Superior Healing"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="6" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20frost%20giant%20strength_dmg"
          text="Potion of Frost Giant Strength"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="7" [g]="0" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20stone%20giant%20strength_dmg"
          text="Potion of Stone Giant Strength"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="6" [g]="0" [u]="7"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20heroism_dmg"
          text="Potion of Heroism"
        ></app-hidden-link>
      </td>
      <td>Religion (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="6" [p]="0" [g]="0" [u]="7"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20maximum%20power_egw"
          text="Potion of Maximum Power"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="0" [p]="8" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#carrion%20crawler%20mucus_dmg"
          text="Crawler Mucus (Contact)"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="8" [p]="3" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20mind%20reading_dmg"
          text="Potion of Mind Reading"
        ></app-hidden-link>
      </td>
      <td>Insight (WIS) + proficiency with kit</td>
      <td><app-alc [c]="5" [a]="5" [p]="0" [g]="0" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#drow%20poison_dmg"
          text="Drow Poison (Injury)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="7" [p]="4" [g]="3" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#malice_dmg"
          text="Malice (Inhaled)"
        ></app-hidden-link>
      </td>
      <td>Deception (CHA) + proficiency with kit</td>
      <td><app-alc [c]="3" [a]="8" [p]="0" [g]="3" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#serpent%20venom_dmg"
          text="Serpent Venom (Injury)"
        ></app-hidden-link>
      </td>
      <td>Investigation (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="8" [p]="2" [g]="4" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#elixir%20of%20health_dmg"
          text="Elixir of Health"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="6" [u]="9"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20clairvoyance_dmg"
          text="Potion of Clairvoyance"
        ></app-hidden-link>
      </td>
      <td>Perception (WIS) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="0" [p]="2" [g]="2" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20gaseous%20form_dmg"
          text="Potion of Gaseous Form"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]="10" [a]="0" [p]="0" [g]="5" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20fire%20giant%20strength_dmg"
          text="Potion of Fire Giant Strength"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="8" [g]="0" [u]="7"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20invulnerability_dmg"
          text="Potion of Invulnerability"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="2" [p]="0" [g]="1" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20mind%20control%20(beast)_tftyp"
          text="Potion of Mind Control (beast)"
        ></app-hidden-link>
      </td>
      <td>Animal Handling (WIS) + proficiency with kit</td>
      <td><app-alc [c]="10" [a]="3" [p]="0" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20mind%20control%20(humanoid)_tftyp"
          text="Potion of Mind Control (humanoid)"
        ></app-hidden-link>
      </td>
      <td>Persuasion (CHA) + proficiency with kit</td>
      <td><app-alc [c]="9" [a]="4" [p]="0" [g]="0" [u]="2"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#essence%20of%20ether_dmg"
          text="Essence of Ether (Inhaled)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="4" [a]="9" [p]="0" [g]="0" [u]="2"></app-alc></td>
    </tr>
  </table>

  <h2 id="journeyman">Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <table>
    <tr>
      <th>Potion</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20longevity_dmg"
          text="Potion of Longevity"
        ></app-hidden-link>
        >
      </td>
      <td>Religion (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="10" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20flying_dmg"
          text="Potion of Flying"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="0" [p]="5" [g]="6" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20invisibility_dmg"
          text="Potion of Invisibility"
        ></app-hidden-link>
      </td>
      <td>Arcana (INT) + proficiency with kit</td>
      <td><app-alc [c]="8" [a]="9" [p]="0" [g]="0" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20mind%20control%20(monster)_tftyp"
          text="Potion of Mind Control (monster)"
        ></app-hidden-link>
      </td>
      <td>Performance (CHA) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="6" [p]="0" [g]="0" [u]="5"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20cloud%20giant%20strength_dmg"
          text="Potion of Cloud Giant Strength"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="9" [g]="0" [u]="9"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20supreme%20healing_dmg"
          text="Potion of supreme healing"
        ></app-hidden-link>
      </td>
      <td>Athletics (SMedicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="9" [u]="9"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20speed_dmg"
          text="Potion of Speed"
        ></app-hidden-link>
      </td>
      <td>Acrobatics (DEX) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="0" [p]="0" [g]="6" [u]="6"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20vitality_dmg"
          text="Potion of Vitality"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="0" [g]="14" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#burnt%20othur%20fumes_dmg"
          text="Burnt Othur Fumes (Inhaled)"
        ></app-hidden-link>
      </td>
      <td>Religion (INT) + proficiency with kit</td>
      <td><app-alc [c]="6" [a]="10" [p]="0" [g]="2" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#torpor_dmg"
          text="Torpor (Ingested)"
        ></app-hidden-link>
      </td>
      <td>Survival (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="10" [p]="6" [g]="0" [u]="2"></app-alc></td>
    </tr>
  </table>

  <h2 id="master">Master</h2>
  <em>You become master at level 15</em>

  <table>
    <tr>
      <th>Potion</th>
      <th>Check</th>
      <th>Components</th>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20giant%20size_skt"
          text="Potion of Giant Size"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="8" [a]="0" [p]="0" [g]="17" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20storm%20giant%20strength_dmg"
          text="Potion of Storm Giant Strength"
        ></app-hidden-link>
      </td>
      <td>Athletics (STR) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="0" [p]="11" [g]="0" [u]="11"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#midnight%20tears_dmg"
          text="Midnight Tears (Ingested)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="15" [p]="4" [g]="0" [u]="4"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#purple%20worm%20poison_dmg"
          text="Purple Worm Poison (Injury)"
        ></app-hidden-link>
      </td>
      <td>Nature (INT) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="15" [p]="5" [g]="5" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#wyvern%20poison_dmg"
          text="Wyvern Poison (Injury)"
        ></app-hidden-link>
      </td>
      <td>Medicine (WIS) + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="13" [p]="4" [g]="4" [u]="0"></app-alc></td>
    </tr>
    <tr>
      <td>
        <app-hidden-link
          link="https://5e.tools/items.html#potion%20of%20possibility_egw"
          text="Potion of Possibility"
        ></app-hidden-link>
      </td>
      <td>Any skill + proficiency with kit</td>
      <td><app-alc [c]="0" [a]="5" [p]="5" [g]="5" [u]="5"></app-alc></td>
    </tr>
  </table>

  <h2>Potions</h2>

  <h3 id="bottled_darkness">Bottled Darkness</h3>
  <i>Wondrous item, common</i>

  <p>
    This carefully conjured and stored magical darkness can be released from its
    bottle as per the spell darkness, though it dissipates after 1 minute. Even
    creatures with darkvision cannot see through the darkness, and nonmagical
    light can’t illuminate it. The bottle can also be thrown to release its
    darkness upon shattering. The darkness cannot be re-bottled.
  </p>
</main>
