<article>
  <h1>Potter's Tools</h1>

  <ul>
    <li>
      <em>History.</em> Your expertise allows you to add your proficiency in
      potter's tools when identifying ceramic objects, including when they were
      created and their likely place or culture of origin.
    </li>
    <li>
      <em>Investigation, Perception.</em> You can add your proficiency in
      Potters Tools to get additional insight when inspecting ceramics,
      uncovering clues others would overlook by spotting minor irregularities.
    </li>
    <li>
      <em>Reconstruction.</em> By examining pottery shards, you can determine an
      object's original, intact form and its likely purpose.
    </li>
  </ul>

  <h2>Potter’s Tools Expert Feat</h2>
  <p>
    You increase your WIS score by 1 and instantly gain proficiency with
    Potter’s Tools.
  </p>

  <h2>Novice</h2>

  <h3>Containers</h3>

  <h4>Clay Jug</h4>

  <ul>
    <li>
      <em>DC:</em> 22 Sleight of Hands (DEX) + your proficiency in potter' tools
    </li>
    <li><em>Time:</em>30 min</li>
    <li><em>Ingredients:</em> Clay</li>
  </ul>

  <p>A jug that stores 1 gallon of liquid (4.5 L)</p>

  <h2>Apprentice</h2>
  <em>You become apprentice at level 5</em>

  <h4>Poor Drunkard's Jug</h4>

  <ul>
    <li><em>DC:</em> 16 Nature (INT) + your proficiency in potter' tools</li>
    <li><em>Time:</em>1 h</li>
    <li><em>Ingredients:</em> Clay</li>
  </ul>

  <p>
    Drinking alcohol from this jug grants you disadvantage on CON saves against
    being drunk.
  </p>

  <h4>Sober Mans's Jug</h4>

  <ul>
    <li><em>DC:</em> 16 Medicine (WIS) + your proficiency in potter' tools</li>
    <li><em>Time:</em>1 h</li>
    <li><em>Ingredients:</em> Clay</li>
  </ul>

  <p>
    Drinking alcohol from this jug grants you advantage on CON saves against
    being drunk.
  </p>

  <h2>Journeyman</h2>
  <em>You become journeyman at level 10</em>

  <h4>Preserving Jug</h4>

  <ul>
    <li><em>DC:</em> 20 Nature (INT) + your proficiency in potter' tools</li>
    <li><em>Time:</em>3 h</li>
    <li><em>Ingredients:</em> Clay</li>
  </ul>

  <p>
    Food, drink or animal parts put into this jug do not get spoiled or rot
    away.
  </p>

  <h2>Master</h2>
  <em>You become master at level 15</em>

  <h3>Containers</h3>

  <h4>Alchemy Jug</h4>

  <ul>
    <li><em>DC:</em> 24 Religion (Int) + your proficiency in potter' tools</li>
    <li><em>Time:</em>8 h</li>
    <li><em>Ingredients:</em> Clay</li>
  </ul>
</article>
