<article>
    <h1>Pigments</h1>

    <ul>
      <li>Pigments can be created using disguise kit, painter's supplies, calligrapher's tools and tinker's tools</li>
      <li><em>DC:</em> 10 Nature (INT) + your proficiency in painter's supplies or calligrapher's tools.</li>
      <li><em>Time:</em> 1 h</li>
    </ul>

    <p>Making any pigment on the table requires at least ingredients provided (more doesn't hurt).</p>

    <table>
      <tr>
        <th>Pigment</th>
        <th>Components</th>
      </tr>
      <tr>
        <td>White</td>
        <td><app-alc [c]=0 [a]=0 [p]=0 [g]=0 [u]=4></app-alc></td>
      </tr>
      <tr>
        <td>Light Yellow</td>
        <td><app-alc [c]=0 [a]=0 [p]=2 [g]=0 [u]=2></app-alc></td>
      </tr>
      <tr>
        <td>Base Yellow</td>
        <td><app-alc [c]=0 [a]=0 [p]=2 [g]=1 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Dark Yellow</td>
        <td><app-alc [c]=0 [a]=1 [p]=2 [g]=1 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Light Green</td>
        <td><app-alc [c]=0 [a]=0 [p]=0 [g]=3 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Base Green</td>
        <td><app-alc [c]=0 [a]=0 [p]=0 [g]=2 [u]=2></app-alc></td>
      </tr>
      <tr>
        <td>Dark Green</td>
        <td><app-alc [c]=0 [a]=1 [p]=0 [g]=2 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Light Blue</td>
        <td><app-alc [c]=1 [a]=0 [p]=1 [g]=2 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Base Blue</td>
        <td><app-alc [c]=3 [a]=0 [p]=0 [g]=0 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Dark Blue</td>
        <td><app-alc [c]=2 [a]=1 [p]=1 [g]=0 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Light Red</td>
        <td><app-alc [c]=0 [a]=0 [p]=3 [g]=1 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Base Red</td>
        <td><app-alc [c]=0 [a]=0 [p]=3 [g]=0 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Dark Red</td>
        <td><app-alc [c]=0 [a]=1 [p]=3 [g]=0 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Light Orange</td>
        <td><app-alc [c]=0 [a]=0 [p]=2 [g]=1 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Base Orange</td>
        <td><app-alc [c]=0 [a]=0 [p]=2 [g]=0 [u]=2></app-alc></td>
      </tr>
      <tr>
        <td>Dark Orange</td>
        <td><app-alc [c]=0 [a]=1 [p]=2 [g]=0 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Light Purple</td>
        <td><app-alc [c]=1 [a]=0 [p]=0 [g]=0 [u]=3></app-alc></td>
      </tr>
      <tr>
        <td>Base Purple</td>
        <td><app-alc [c]=2 [a]=0 [p]=2 [g]=0 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Dark Purple</td>
        <td><app-alc [c]=1 [a]=1 [p]=2 [g]=0 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Light Pink</td>
        <td><app-alc [c]=0 [a]=0 [p]=1 [g]=3 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Base Pink</td>
        <td><app-alc [c]=0 [a]=0 [p]=1 [g]=2 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Dark Pink</td>
        <td><app-alc [c]=0 [a]=1 [p]=1 [g]=2 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Light Brown</td>
        <td><app-alc [c]=1 [a]=1 [p]=0 [g]=1 [u]=1></app-alc></td>
      </tr>
      <tr>
        <td>Base Brown</td>
        <td><app-alc [c]=0 [a]=0 [p]=0 [g]=0 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Dark Brown</td>
        <td><app-alc [c]=0 [a]=3 [p]=0 [g]=1 [u]=0></app-alc></td>
      </tr>
      <tr>
        <td>Grey</td>
        <td><app-alc [c]=0 [a]=2 [p]=0 [g]=0 [u]=2></app-alc></td>
      </tr>
      <tr>
        <td>Black</td>
        <td><app-alc [c]=0 [a]=4 [p]=0 [g]=0 [u]=0></app-alc></td>
      </tr>
    </table>
</article>